<div id="sb-site">
    <section class="legal page-content outer">
        <div class="legal__visual page-content__visual">
            <h2 class="page-content__title">{{'旅行業約款'|ttrans}}</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a href="/company/">{{'旅行業約款'|ttrans}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="outer__inner">
            <div class="page-content__container" *ngIf="app.language == app.constant.DEFAULT_LANGUAGE_URL">
                <section class="condition">
                    <h3 class="condition__title">第１章　総則</h3>
                    <dl class="condition__list">
                        <dt><dfn>第1条（適用範囲）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社が旅行者との間で締結する手配旅行契約は、この約款の定めるところによります。この約款に定めのない事項については、法令又は一般に確立された慣習によります。</li>
                                <li>当社が法令に反せず、かつ、旅行者の不利にならない範囲で書面により特約を結んだときは、前項の規定にかかわらず、その特約が優先します。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第2条（用語の定義）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>この約款で「手配旅行契約」とは、当社が旅行者の委託により、旅行者のために代理、媒介又は取次をすること等により旅行者が運送・宿泊機関等の提供する運送、宿泊その他の旅行に関するサービス（以下「旅行サービス」といいます。）の提供を受けることができるように、手配することを引き受ける契約をいいます。</li>
                                <li>この約款で「国内旅行」とは、本邦内のみの旅行をいい、「海外旅行」とは、国内旅行以外の旅行をいいます。</li>
                                <li>この約款で「旅行代金」とは、当社が旅行サービスを手配するために、運賃、宿泊料その他の運送・宿泊機関等に対して支払う費用及び当社所定の旅行業務取扱料金（変更手続料金及び取消手続料金を除きます。）をいいます。</li>
                                <li>この部で「通信契約」とは、当社が提携するクレジットカード会社（以下「提携会社」といいます。）のカード会員との間で電話、郵便、ファクシミリその他の通信手段による申込みを受けて締結する手配旅行契約であって、当社が旅行者に対して有する手配旅行契約に基づく旅行代金等に係る債権又は債務を、当該債権又は債務が履行されるべき日以降に別に定める提携会社のカード会員規約に従って決済することについて、旅行者があらかじめ承諾し、かつ旅行代金等を第１６条第２項又は第５項に定める方法により支払うことを内容とする手配旅行契約をいいます。</li>
                                <li>この部で「電子承諾通知」とは、契約の申込みに対する承諾の通知であって、情報通信の技術を利用する方法のうち当社が使用する電子計算機、ファクシミリ装置、テレックス又は電話機（以下「電子計算機等」といいます。）と旅行者が使用する電子計算機等とを接続する電気通信回線を通じて送信する方法により行うものをいいます。</li>
                                <li>この約款で「カード利用日」とは、旅行者又は当社が手配旅行契約に基づく旅行代金等の支払又は払戻債務を履行すべき日をいいます。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第3条（手配債務の終了）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社が善良な管理者の注意をもって旅行サービスの手配をしたときは、手配旅行契約に基づく当社の債務の履行は終了します。したがって、満員、休業、条件不適当等の事由により、運送・宿泊機関等との間で旅行サービスの提供をする契約を締結できなかった場合であっても、当社がその義務を果たしたときは、旅行者は、当社に対し、当社所定の旅行業務取扱料金（以下「取扱料金」といいます。）を支払わなければなりません。通信契約を締結した場合においては、カード利用日は、当社が運送・宿泊機関等との間で旅行サービスの提供をする契約を締結できなかった旨、旅行者に通知した日とします。</li>
                            </ul>
                        </dd>

                        <dt><dfn>第4条（手配代行者）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、手配旅行契約の履行に当たって、手配の全部又は一部を本邦内又は本邦外の他の旅行業者、手配を業として行う者その他の補助者に代行させることがあります。</li>
                            </ul>
                        </dd>



                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">第２章　契約の成立</h3>
                    <dl class="condition__list">
                        <dt><dfn>第5条（契約の申込み）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社と手配旅行契約を締結しようとする旅行者は、当社所定の申込書に所定の事項を記入の上、当社が別に定める金額の申込金とともに、当社に提出しなければなりません。</li>
                                <li>当社と通信契約を締結しようとする旅行者は、前項の規定にかかわらず、会員番号及び依頼しようとする旅行サービスの内容を当社に通知しなければなりません。</li>
                                <li>第1項の申込金は、旅行代金、取消料その他の旅行者が当社に支払うべき金銭の一部として取り扱います。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第6条（契約締結の拒否）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>
                                    当社は、次に掲げる場合において、手配旅行契約の締結に応じないことがあります。
                                    <ul class="list list--num-parenthesis">
                                        <li>当社の業務上の都合があるとき。</li>
                                        <li>通信契約を締結しようとする場合であって、旅行者の有するクレジットカードが無効である等、旅行者が旅行代金等に係る債務の一部又は全部を提携会社のカード会員規約に従って決済できないとき。</li>
                                        <li>旅行者が、暴力団員、暴力団準構成員、暴力団関係者、暴力団関係企業、その他反社会的勢力であると判明したとき。</li>
                                        <li>旅行者が、当社に対して暴力的又は不当な要求行為、取引に関する脅迫的な言動もしくは暴力を用いる行為、またこれに準ずる行為を行ったとき。</li>
                                        <li>旅行者が、風説を流布し、偽計や威力を用いて当社の信用を毀損し、業務を妨害する行為などを行ったとき。</li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                        <dt><dfn>第7条（契約の成立時期）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>手配旅行契約は、当社が契約の締結を承諾し、第5条第1項の申込金を受理した時に成立するものとします。</li>
                                <li>通信契約は、前項の規定にかかわらず、当社が第5条第2項の申込みを承諾する旨の通知を発した時に成立するものとします。ただし、当該契約において電子承諾通知を発する場合は、当該通知が旅行者に到達した時に成立するものとします。</li>
                            </ul>
                        </dd>

                        <dt><dfn>第8条（契約成立の特則）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、第5条第1項の規定にかかわらず、書面による特約をもって、申込金の支払いを受けることなく、契約の締結の承諾のみにより手配旅行契約を成立させることがあります。</li>
                                <li>前項の場合において、手配旅行契約の成立時期は、前項の書面において明らかにします。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第9条（乗車券及び宿泊券等の特則）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、第5条第1項及び前条第１項の規定にかかわらず、運送サービス又は宿泊サービスの手配のみを目的とする手配旅行契約であって旅行代金と引換えに当該旅行サービスの提供を受ける権利を表示した書面を交付するものについては、口頭による申込みを受け付けることがあります。</li>
                                <li>前項の場合において、手配旅行契約は、当社が契約の締結を承諾した時に成立するものとします。</li>
                            </ul>
                        </dd>

                        <dt><dfn>第10条（契約書面）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、手配旅行契約の成立後速やかに、旅行者に、旅行日程、旅行サービスの内容、旅行代金その他の旅行条件及び当社の責任に関する事項を記載した書面（以下「契約書面」といいます。）を交付します。ただし、当社が手配するすべての旅行サービスについて乗車券類、宿泊券その他の旅行サービスの提供を受ける権利を表示した書面を交付するときは、当該契約書面を交付しないことがあります。</li>
                                <li>前項本文の契約書面を交付した場合において、当社が手配旅行契約により手配する義務を負う旅行サービスの範囲は、当該契約書面に記載するところによります。</li>
                            </ul>
                        </dd>

                        <dt><dfn>第11条（情報通信の技術を利用する方法）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、あらかじめ旅行者の承諾を得て、手配旅行契約を締結しようとするときに旅行者に交付する旅行日程、旅行サービスの内容、旅行代金その他の旅行条件及び当社の責任に関する事項を記載した書面又は契約書面の交付に代えて、情報通信の技術を利用する方法により当該書面に記載すべき事項（以下この条において「記載事項」といいます。）を提供したときは、旅行者の使用する通信機器に備えられたファイルに記載事項が記録されたことを確認します。</li>
                                <li>前項の場合において、旅行者の使用に係る通信機器に記載事項を記録するためのファイルが備えられていないときは、当社の使用する通信機器に備えられたファイル（専ら当該旅行者の用に供するものに限ります。）に記載事項を記録し、旅行者が記載事項を閲覧したことを確認します。</li>
                            </ul>
                        </dd>

                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">第３章　契約の変更及び解除</h3>
                    <dl class="condition__list">
                        <dt><dfn>第12条（契約内容の変更）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>旅行者は、当社に対し、旅行日程、旅行サービスの内容その他の手配旅行契約の内容を変更するよう求めることができます。この場合において、当社は、可能な限り旅行者の求めに応じます。</li>
                                <li>前項の旅行者の求めにより手配旅行契約の内容を変更する場合、旅行者は、既に完了した手配を取り消す際に運送・宿泊機関等に支払うべき取消料、違約料その他の手配の変更に要する費用を負担するほか、当社に対し、当社所定の変更手続料金を支払わなければなりません。また、当該手配旅行契約の内容の変更によって生ずる旅行代金の増加又は減少は旅行者に帰属するものとします。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第13条（旅行者による任意解除）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>旅行者は、いつでも手配旅行契約の全部又は一部を解除することができます。</li>
                                <li>前項の規定に基づいて手配旅行契約が解除されたときは、旅行者は、既に旅行者が提供を受けた旅行サービスの対価として、又はいまだ提供を受けていない旅行サービスに係る取消料、違約料その他の運送・宿泊機関等に対して既に支払い、又はこれから支払う費用を負担するほか、当社に対し、当社所定の取消手続料金及び当社が得るはずであった取扱料金を支払わなければなりません。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第14条（旅行者の責に帰すべき事由による解除）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>
                                    当社は、次に掲げる場合において、手配旅行契約を解除することがあります。
                                    <ul class="list list--num-parenthesis">
                                        <li>旅行者が所定の期日までに旅行代金を支払わないとき。</li>
                                        <li>通信契約を締結した場合であって、旅行者の有するクレジットカードが無効になる等、旅行者が旅行代金等に係る債務の一部又は全部を提携会社のカード会員規約に従って決済できなくなったとき。</li>
                                    </ul>
                                </li>
                                <li>前項の規定に基づいて手配旅行契約が解除されたときは、旅行者は、いまだ提供を受けていない旅行サービスに係る取消料、違約料その他の運送・宿泊機関等に対して既に支払い、又はこれから支払わなければならない費用を負担するほか、当社に対し、当社所定の取消手続料金及び当社が得るはずであった取扱料金を支払わなければなりません。</li>
                            </ul>
                        </dd>

                        <dt><dfn>第15条（当社の責に帰すべき事由による解除）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>旅行者は、当社の責に帰すべき事由により旅行サービスの手配が不可能になったときは、手配旅行契約を解除することができます。</li>
                                <li>前項の規定に基づいて手配旅行契約が解除されたときは、当社は、旅行者が既にその提供を受けた旅行サービスの対価として、運送・宿泊機関等に対して既に支払い、又はこれから支払わなければならない費用を除いて、既に収受した旅行代金を旅行者に払い戻します。</li>
                                <li>前項の規定は、旅行者の当社に対する損害賠償の請求を妨げるものではありません。</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">第４章　旅行代金</h3>
                    <dl class="condition__list">
                        <dt><dfn>第16条（旅行代金）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>旅行者は、旅行開始前の当社が定める期間までに、当社に対し、旅行代金を支払わなければなりません。</li>
                                <li>通信契約を締結したときは、当社は、提携会社のカードにより所定の伝票への旅行者の署名なくして旅行代金の支払いを受けます。この場合において、カード利用日は、当社が確定した旅行サービスの内容を旅行者に通知した日とします。</li>
                                <li>当社は、旅行開始前において、運送・宿泊機関等の運賃・料金の改訂、為替相場の変動その他の事由により旅行代金の変動を生じた場合は、当該旅行代金を変更することがあります。</li>
                                <li>前項の場合において、旅行代金の増加又は減少は、旅行者に帰属するものとします。</li>
                                <li>当社は、旅行者と通信契約を締結した場合であって、第三章又は第四章の規定により旅行者が負担すべき費用等が生じたときは、当社は、提携会社のカードにより所定の伝票への旅行者の署名なくして当該費用等の支払いを受けます。この場合において、カード利用日は旅行者が当社に支払うべき費用等の額又は当社が旅行者に払い戻すべき額を、当社が旅行者に通知した日とします。ただし、第１４条第１項第２号の規定により当社が手配旅行契約を解除した場合は、旅行者は、当社の定める期日までに、当社の定める支払方法により、旅行者が手配旅行契約の部当社に支払うべき費用等を支払わなければなりません。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第17条（旅行代金の精算）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、当社が旅行サービスを手配するために、運送・宿泊機関等に対して支払った費用で旅行者の負担に帰すべきもの及び取扱料金（以下「精算旅行代金」といいます。）と旅行代金として既に収受した金額とが合致しない場合において、旅行終了後、次項及び第３項に定めるところにより速やかに旅行代金の精算をします。</li>
                                <li>精算旅行代金が旅行代金として既に収受した金額を超えるときは、旅行者は、当社に対し、その差額を支払わなければなりません。</li>
                                <li>精算旅行代金が旅行代金として既に収受した金額に満たないときは、当社は、旅行者にその差額を払い戻します。</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">第５章　団体・グループ契約</h3>
                    <dl class="condition__list">
                        <dt><dfn>第18条（団体・グループ手配）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、同じ行程を同時に旅行する複数の旅行者がその責任ある代表者（以下「契約責任者」といいます。）を定めて申し込んだ手配旅行契約の締結については、本章の規定を適用します。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第19条（契約責任者）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、特約を結んだ場合を除き、契約責任者はその団体・グループを構成する旅行者（以下「構成者」といいます。）の手配旅行契約の締結に関する一切の代理権を有しているものとみなし、当該団体・グループに係る旅行業務に関する取引及び第２２条第１項の業務は、当該契約責任者との間で行います。</li>
                                <li>契約責任者は、当社が定める日までに、構成者の名簿を当社に提出し、又は人数を当社に通知しなければなりません。</li>
                                <li>当社は、契約責任者が構成者に対して現に負い、又は将来負うことが予測される債務又は義務については、何らの責任を負うものではありません。</li>
                                <li>当社は、契約責任者が団体・グループに同行しない場合、旅行開始後においては、あらかじめ契約責任者が選任した構成者を契約責任者とみなします。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第20条（契約成立の特則）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、契約責任者と手配旅行契約を締結する場合において、第５条第１項の規定にかかわらず、申込金の支払いを受けることなく手配旅行契約の締結を承諾することがあります。</li>
                                <li>前項の規定に基づき申込金の支払いを受けることなく手配旅行契約を締結する場合には、当社は、契約責任者にその旨を記載した書面を交付するものとし、手配旅行契約は、当社が当該書面を交付した時に成立するものとします。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第21条（構成者の変更）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、契約責任者から構成者の変更の申出があったときは、可能な限りこれに応じます。</li>
                                <li>前項の変更によって生じる旅行代金の増加又は減少及び当該変更に要する費用は、構成者に帰属するものとします。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第22条（添乗サービス）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、契約責任者からの求めにより、団体・グループに添乗員を同行させ、添乗サービスを提供することがあります。</li>
                                <li>添乗員が行う添乗サービスの内容は、原則として、あらかじめ定められた旅行日程上、団体・グループ行動を行うために必要な業務とします。</li>
                                <li>添乗員が添乗サービスを提供する時間帯は、原則として、８時から２０時までとします。</li>
                                <li>当社が添乗サービスを提供するときは、契約責任者は、当社に対し、所定の添乗サービス料を支払わなければなりません。</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">第６章　責任</h3>
                    <dl class="condition__list">
                        <dt><dfn>第23条（当社の責任）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、手配旅行契約の履行に当たって、当社又は当社が第四条の規定に基づいて手配を代行させた者（以下「手配代行者」といいます。）が故意又は過失により旅行者に損害を与えたときは、その損害を賠償する責に任じます。ただし、損害発生の翌日から起算して２年以内に当社に対して通知があったときに限ります。</li>
                                <li>旅行者が天災地変、戦乱、暴動、運送・宿泊機関等の旅行サービス提供の中止、官公署の命令その他の当社又は当社の手配代行者の関与し得ない事由により損害を被ったときは、当社は、前項の場合を除き、その損害を賠償する責任を負うものではありません。</li>
                                <li>当社は、手荷物について生じた第一項の損害については、同項の規定にかかわらず、損害発生の翌日から起算して、国内旅行にあっては１４日以内に、海外旅行にあっては２１日以内に当社に対して通知があったときに限り、旅行者１名につき１５万円を限度（当社に故意又は重大な過失がある場合を除きます。）として賠償します。</li>
                            </ul>
                        </dd>
                        <dt><dfn>第24条（旅行者の責任）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>旅行者の故意又は過失により当社が損害を被ったときは、当該旅行者は、損害を賠償しなければなりません。</li>
                                <li>旅行者は、手配旅行契約を締結するに際しては、当社から提供された情報を活用し、旅行者の権利義務その他の手配旅行契約の内容について理解するよう努めなければなりません。</li>
                                <li>旅行者は、旅行開始後において、契約書面に記載された旅行サービスを円滑に受領するため、万が一契約書面と異なる旅行サービスが提供されたと認識したときは、旅行地において速やかにその旨を当社、当社の手配代行者又は当該旅行サービス提供者に申し出なければなりません。</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">第７章　弁済業務保証金</h3>
                    <dl class="condition__list">
                        <dt><dfn>第25条（弁済業務保証金）</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>当社は、社団法人日本旅行業協会（東京都千代田区霞ヶ関３丁目３番３号）の保証会員になっております。</li>
                                <li>当社と手配旅行契約を締結した旅行者又は構成者は、その取引によって生じた債権に関し、前項の社団法人日本旅行業協会が供託している弁済業務保証金から１０,０００万円に達するまで弁済を受けることができます。</li>
                                <li>当社は、旅行業法第２２条の１０第１項の規定に基づき、社団法人日本旅行業協会に弁済業務保証金分担金を納付しておりますので、同法第７条第１項に基づく営業保証金は供託しておりません。</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
            </div>
            <div class="page-content__container" *ngIf="app.language != app.constant.DEFAULT_LANGUAGE_URL">
                <section class="condition">
                    <h3 class="condition__title">Chapter 1 - General Provisions</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 1 - Scope of Application</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>The Arranged Tour Contract to be concluded between our Company and the Traveler shall be based on this Contract under the following terms and conditions. Any matter not stipulated in this Contract shall be governed by ordinance or generally established practice.</li>
                                <li>In cases where we conclude a Special Contract with the Traveler in writing without violating the relevant law or harming the interests of the Traveler, such a Special Contract shall be given priority, notwithstanding the provision of the preceding Paragraph.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 2 - Definition of Terminology</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>In this Contract, "Arranged Tour Contract" shall mean the Contract under which we undertake to make arrangements at the request of the Traveler by representing him/her, or acting as his/her intermediary, or playing an introductory role for him/her, so that he/she may be provided with services, such as transport and accommodation offered by transport and accommodation facilities, etc., and other services related to travel (hereinafter to be referred to altogether as the "Tour Service").</li>
                                <li>In this Contract, "Inland Trip" shall mean trips planned for only inside Japan, and "Overseas Trip" shall mean trips other than inland trips.</li>
                                <li>In this Contract, "Tour Price" shall mean the expense paid by our Company for the transportation charge, accommodation charge and other expenses payable to the transport and accommodation facilities, etc. to arrange the Tour Service, plus the handling charge of the Tour Service that is set by us (excluding handling charges for alterations and cancellation).</li>
                                <li>In this Section, "Communication Contract" shall mean the Arranged Tour Contract, which is concluded with the card member of the credit card company affiliated with our Company (hereinafter referred to as the "Affiliated Company"), by subscription through telephone, mail, facsimile, or other means of communication, subject to prior consent of the Traveler regarding the settlement of the credit obligation or liability held by us, such as the Tour Price, etc., under the Arranged Contract on and after the due date of such obligation or liability according to the separately provided card membership rule of the Affiliated Company and also subject to payment of the Tour Price, etc. by the method specified in 16.02 or 16.05 hereunder.</li>
                                <li>In this Section, "Electronically Consented Notice" shall mean a notice issued in acceptance of the subscription for the Contract and transmitted by means of transmission, among the methods utilizing information-communication technologies, via telecommunication lines connecting the computer, facsimile, telex or telephone (hereinafter referred to as the "Electronic Computer, etc.") being used by us with the Electronic Computer, etc. being used by the Traveler.</li>
                                <li>In this Contract, "Date Card Used" shall mean the date when the Traveler or our Company is obligated to pay the Tour Price, etc. or execute refundable liability under the Arranged Tour Contract.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 3 - Termination of Liability for Arrangements</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>When we have made arrangements for the Tour Service with the care of a good manager, the fulfillment of our liability based on the Arranged Tour Contract shall terminate. Therefore, even if contracts are not concluded with transport and accommodation facilities, etc. due to such causes as capacity fully filled, shutdown, inappropriate condition, etc., when we have fulfilled our obligations, the Traveler will be required to pay to us the handling charge of the Tour Service (hereinafter to be referred to as the "Handling Charge"). When the Transmission Contract has been concluded, Date Card Used shall be construed to mean the date when we have informed the Traveler that we have not been able to conclude with the transport and accommodation facilities, etc. the contract requiring them to provide the Tour Service.</li>
                            </ul>
                        </dd>

                        <dt><dfn>Article 4 - Surrogate Arranger</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>There are cases where we may engage other travel agents, professional arrangers, or other helpers inside and outside Japan to make arrangements in whole or in part on our behalf in the implementation of the Arranged Tour Contract.</li>
                            </ul>
                        </dd>



                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">Chapter 2 - Conclusion of the Contract</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 5 - Subscription for the Contract</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>The Traveler intending to conclude an Arranged Tour Contract with us will be required to fill in specified particulars on the application form prescribed by us and submit it to us together with the Application Fee specified by us separately.</li>
                                <li>Notwithstanding the provision of the preceding Paragraph, the Traveler intending to conclude a "Communication Contract" with us will be required to notify us of his/her credit card membership number and the contents of the Tour Service to be subscribed.</li>
                                <li>The Application Fee specified in 05.01 shall be treated as part of the money payable to us by the Traveler, such as the Tour Price, Cancellation Charge, etc.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 6 - Refusal of the Conclusion of the Contract</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>
                                    We may not accept the conclusion of the Arranged Tour Contract in the following instances:
                                    <ul class="list list--num-parenthesis">
                                        <li>When there are inconveniences related to our business.</li>
                                        <li>If the Communication Contract is to be concluded, when the Traveler should become unable to settle his/her liability related to the Tour Price, etc. in whole or in part according to the membership rule of the Affiliated Company, due to such causes as the credit card held by the Traveler has become invalid, etc.</li>
                                        <li>When travelers are found to be anti-social forces, organized crime group members, gang member associates, organized crime groups, organized crime group companies and others.</li>
                                        <li>When a traveler performs violent or improper request acts against the administration company, threatening actions related to extortion, violence or similar acts.</li>
                                        <li>When a traveler disseminates a rumor that damages our company's trust and impedes work, by using fake statements or influencing other parties.</li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 7 - Time of the Conclusion of the Contract</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>The Arranged Tour Contract shall be deemed to have been concluded when we have accepted the conclusion of the Contract and have received the Application Fee specified in 05.01.</li>
                                <li>Notwithstanding the provision of the preceding Paragraph, the Transmission Contract shall be deemed to have been concluded when we have issued a notice to the effect that we accept the application described in 05.02. However, in the case that an Electronically Consented Notice is issued under the said Contract, the Contract shall be deemed to have been concluded when the said notice has reached the Traveler.</li>
                            </ul>
                        </dd>

                        <dt><dfn>Article 8 - Special Rule Related to the Conclusion of the Contract</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>Notwithstanding the provision of 05.01, there are cases where we will conclude the Arranged Tour Contract merely by accepting the conclusion of the Contract under a Special Contract entered into in writing without receiving payment of the Application Fee.</li>
                                <li>In the case of the preceding Paragraph, the time of the conclusion of the Arranged Tour Contract shall be clearly stated in the document described in the preceding Paragraph.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 9 - Special Rule Related to the Transport Ticket and Accommodation Coupon, etc.</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>Notwithstanding the provisions of 05.01 and the preceding Article, 08.01, there are cases where we will accept subscription by word of mouth when the Arranged Tour Contract, aimed only at the arrangement of transport services or accommodation services, requires us to deliver a document indicating the right to receive the offering of the said Tour Service in exchange for the Tour Price.</li>
                                <li>In the case of the preceding Paragraph, the Arranged Tour Contract shall be deemed to have been concluded when we have accepted the conclusion of the Contract.</li>
                            </ul>
                        </dd>

                        <dt><dfn>Article 10 - Contract Document</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>Promptly after the conclusion of the Arranged Tour Contract, we shall deliver to the Traveler a document (hereinafter to be referred to as the "Contract Document") that describes particulars concerning the itinerary, contents of the Tour Service, the Tour Price, other conditions of the Tour and our Company's responsibility. There are cases, however, where we do not deliver the said Contract Document when we deliver a document indicating the right to receive the offering of all the Tour Service, such as transport tickets, accommodation coupons and other services which we have arranged.</li>
                                <li>In cases where we have delivered the Contract Document described in the preceding Paragraph, the scope of the Tour Service for which we are responsible for making arrangements under the Arranged Tour Contract shall be as stated in the said Contract Document.</li>
                            </ul>
                        </dd>

                        <dt><dfn>Article 11 - Method to Use Information-Communication Technologies</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>When we have provided particulars to be entered in the said Document (to be referred to as the "Particulars" in this Article) by means of utilizing information-communication technologies, we shall confirm that the said Particulars have been recorded on the file equipped in the communication equipment being used by the Traveler.</li>
                                <li>In the case of the preceding Paragraph, when the file for recording the Particulars is not equipped in the communication equipment being used by the Traveler, we shall record the Particulars on the file equipped in the communication equipment being used by our Company (limited to the file provided only for the exclusive use of the Traveler) and confirm that the Traveler has viewed the Particulars.</li>
                            </ul>
                        </dd>

                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">Chapter 3 - Alteration and Cancellation of the Contract</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 12 - Alteration of Contract Contents</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>The Traveler may request us to change the contents of the Arranged Tour Contract, such as itinerary, contents of Tour Service, and other conditions of the Arranged Tour Contract, etc., in which case we shall try to accommodate the Traveler's request as far as possible.</li>
                                <li>In cases where the contents of the Arranged Tour Contract are changed at the request of the Traveler, the Traveler will be required to bear the cancellation charges and penalty payable to the transport and accommodation facilities and other expenses required for changing the arrangements at the time when the said arrangements already completed are cancelled, and in addition, to pay to us the handling charge for the change as prescribed by our Company. Furthermore, the increase or decrease of the Tour Price arising from such changes of the Arranged Tour Contract Contents shall belong to the Traveler.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 13 - Discretional Cancellation by the Traveler</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>The Traveler may cancel the Arranged Tour Contract in whole or in part at any time.</li>
                                <li>When the Arranged Tour Contract has been cancelled under the provision of the preceding Paragraph, the Traveler will be required to bear the expense paid in return for the Tour Service already received or the cancellation charges, penalty and other expenses payable to the transport and accommodation facilities for the Tour Service not yet offered, and in addition, to pay to us the handling charge for the cancellation as prescribed by our Company as well as the handling charge receivable by us.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 14 - Cancellation Due to Causes Attributable to the Traveler</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>
                                    We may cancel the Arranged Tour Contract in the following instances:
                                    <ul class="list list--num-parenthesis">
                                        <li>If the Traveler does not pay the Tour Price by the due date specified.</li>
                                        <li>In cases where the Communication Contract has been concluded, when the Traveler has become unable to settle his/her liability related to the Tour Price, etc. in whole or in part according to the membership rule of the Affiliated Company, due to such causes as the credit card held by the Traveler has become invalid.</li>
                                    </ul>
                                </li>
                                <li>When the Arranged Tour Contract has been cancelled under the provision of the preceding Paragraph, the Traveler will be required to bear the cancellation charges and penalty for the Tour Service not yet offered as well as other expenses already paid and payable to the transport and accommodation facilities, and in addition, to pay to us the handling charge for the cancellation as prescribed by our Company as well as the handling charge receivable by us.</li>
                            </ul>
                        </dd>

                        <dt><dfn>Article 15 - Cancellation Due to Causes Attributable to Our Company</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>When the arrangement for the Tour Service should become precluded due to causes attributable to us, the Traveler may cancel the Arranged Tour Contract.</li>
                                <li>When the Arranged Tour Contract has been cancelled under the provision of the preceding Paragraph, we shall reimburse to the Traveler the Tour Price already received after deducting the expenses already paid to the transport and accommodation facilities, etc. in return for the Tour Service already offered to the Traveler as well as the expenses payable from now.</li>
                                <li>The provision of the preceding Paragraph shall not prevent the Traveler from claiming compensation against us for the damage.</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">Chapter 4 - Tour Price</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 16 - Tour Price</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>The Traveler will be required to pay the Tour Price no later than the period prescribed by our Company prior to the start of the Tour.</li>
                                <li>When the Communication Contract has been concluded, we shall accept payment of the Tour Price by using the card of the Affiliate Company without obtaining the Traveler's signature on the voucher prescribed by us, in which case the Date Card Used shall be considered as the date when we have informed the Traveler of the contents of the Tour Service determined by us.</li>
                                <li>There are cases where we may change the Tour Price prior to the start of the Tour when changes in the Tour Price have occurred due to such causes as the revision of the fares and charges by transport and accommodation facilities, changes in foreign exchange rates, etc.</li>
                                <li>In the case of the preceding Paragraph, the increase or decrease of the Tour Price shall belong to the Traveler.</li>
                                <li>In the case that, when we have concluded the Communication Contract with the Traveler, expenses payable by the Traveler have accrued under the provisions of Chapter 3 and Chapter 4, we shall receive payment of the said expenses by using the card of the Affiliate Company without obtaining the Traveler's signature on the prescribed voucher. In this case, the Date Card Used shall be considered as the date when we have informed the Traveler of the amount of the expenses payable to us by the Traveler or the amount reimbursable by us to the Traveler. However, in cases where we have cancelled the Arranged Tour Contract under the provision of Article 14, Paragraph 1 (2), the Traveler will be required to pay to us the expense, etc. payable to us by him/her no later than the date set by us by the method prescribed by us.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 17 - Settlement of the Tour Price</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>In cases where the amount of the expenses paid by us to the transport and accommodation facilities for arranging the Tour Service, which are to be borne by the Traveler, plus the handling charge (hereinafter to be referred to altogether as the "Tour Price Settled") does not agree with the amount already received as the Tour Price, we shall square the Tour Price promptly after the Tour finishes, in accordance with the provisions of the following two Paragraphs.</li>
                                <li>If the Tour Price Settled exceeds the amount already received as the Tour Price, the Traveler will be required to pay the difference to us.</li>
                                <li>If the Tour Price Settled falls below the amount already received as the Tour Price, we shall reimburse the difference to the Traveler.</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">Chapter 5 - Arrangement for Organizations and Groups</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 18 - Arrangement for Organizations and Groups</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>We shall apply the provisions of this Chapter to the conclusion of the Arranged Tour Contract in cases where we have received subscriptions from two or more Travelers who are to travel the same route at the same time by appointing a responsible person to represent them (hereinafter referred to as the "Contract Representative").</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 19 - Contract Representative</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>Unless a Special Contract is made, we shall consider the Contract Representative as the person holding all the power of representation concerning the conclusion of the Arranged Tour Contract for the Travelers who compose his/her organization or group (hereinafter referred to as the "Constituent Member"), and we shall handle with the said Contract Representative transactions concerning the Tour business related to the said organization or group and the business specified in 22.01 hereunder.</li>
                                <li>The Contract Representative will be required to submit a list of the Constituent Members or inform us of the number of the Constituent Members on or before the date set by us.</li>
                                <li>We shall not be held responsible for the liabilities or obligations which the Contract Representative assumes to the Constituent Members at present or the liabilities or obligations which the Contract Representative is expected to assume in the future.</li>
                                <li>In cases where the Contract Representative does not accompany his/her organization or group during the Tour, one of the Constituent Members appointed by the Contract Representative beforehand shall be considered by us as the Contract Representative after the start of the Tour.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 20 - Special Rule of the Conclusion of the Contract</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>When we conclude the Arranged Tour Contract with the Contract Representative, there are cases where we accept the conclusion of the Arranged Tour Contract without receiving payment of the Application Fee, notwithstanding the provision of Article 5, Paragraph 1.</li>
                                <li>When we conclude the Arranged Tour Contract with the Contract Representative without receiving payment of the Application Fee under the provision of the preceding Paragraph, we shall deliver to the Contract Representative a Document written to that effect, and the Arranged Tour Contract shall be considered to have been concluded when we have delivered the said Document.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 21 - Changes by the Contract Representative</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>When the Contract Representative has expressed a wish to change some of the Constituent Members, we shall accommodate his/her wish as far as possible.</li>
                                <li>The increase or decrease of the Tour Price arising from the change described in the preceding Paragraph. as well as the expenses required for the said change shall belong to the Constituent Members.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 22 - Escort Service</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>There are cases where we provide Escort Service at the request of the Contract Representative by having a Tour Escort accompany his/her organization or group.</li>
                                <li>The contents of the Escort Service to be performed by the Tour Escort shall, in principle, be the service required for conducting the Tour of his/her organization or group as a group, according to the itinerary determined beforehand.</li>
                                <li>The Service Hours of the Tour Escort for offering the Escort Service shall, in principle, be from 8:00 to 20:00 hours.</li>
                                <li>When we offer the Escort Service, the Contract Representative will be required to pay to us the Escort Service Charge prescribed by us.</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">Chapter 6 - Responsibility</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 23 - Responsibility of Our Company</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>In the course of implementing the Arranged Tour Contract, we shall be responsible for compensating for the damage caused to the Traveler intentionally or negligently by our Company or by our agent who has been engaged by us to make arrangements on our behalf under the provision of Article 4 (hereinafter referred to as the "Surrogate Arranger"), but only in cases where notice has been given to us within two years from the day immediately following the day when the said damage occurred.</li>
                                <li>In cases where the Traveler has suffered damage due to causes beyond the control of our Company or our Surrogate Arranger, such as act of providence, maelstrom of war, civil commotion, suspension of Tour Services like transport and accommodation facilities, orders from government and other public agencies, and others causes, we shall not be held responsible for compensation except in the case of the preceding Paragraph.</li>
                                <li>With regards to damage caused to baggage as described in Paragraph 1, notwithstanding the provision of the said Paragraph, we shall make compensation up to the limit of ¥150,000 as a maximum amount per Traveler (except in cases where the said damage has been caused by us intentionally or due to our serious fault), only if we have been notified of the said damage within 14 days in the case of inland trips and within 21 days in the case of overseas trips, respectively, counted from the day immediately following the day when the said damage occurred.</li>
                            </ul>
                        </dd>
                        <dt><dfn>Article 24. - Responsibility of the Traveler</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>If we have suffered damage due to the willfulness or fault of the Traveler, the said Traveler will be required to compensate us for the said damage.</li>
                                <li>When the Traveler concludes the Customized Tour Contract, the Traveler will be required to make efforts to understand the contents of the Customized Tour Contract, such as the right and obligation of the Traveler, etc., by utilizing the information provided by us.</li>
                                <li>In order for the Traveler to smoothly receive the Tour Service described in the Contract Document after the start of the Tour, the Traveler will be required to report promptly to us or our Surrogate Arranger or the provider of the said Tour Service at the Touring point if and when the Traveler should realize that the Tour Service is different from the Contract Document that was offered.</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
                <section class="condition">
                    <h3 class="condition__title">Chapter 7 - Business Guarantee Bonds</h3>
                    <dl class="condition__list">
                        <dt><dfn>Article 25 - Business Guarantee Bonds</dfn></dt>
                        <dd>
                            <ul class="list list--num">
                                <li>We are the Security Member of the (Name) Association of Travel Agents (located at (Address) Tokyo).</li>
                                <li>The Traveler or the Constituent Member, who has concluded the Package Tour Contract with us, is entitled to receive reimbursement from the Redemption Business Guarantee Bonds deposited by the 1,000,000,0000 Association of Travel Agents which is described in the preceding Paragraph, up to the maximum amount of yen.</li>
                                <li>As we have paid our share of the Redemption Business Guarantee Bonds to the Association of Travel Agents in accordance with the provision of Article 22, Paragraph 10 (1) of the Travel Agency Law, we have not deposited the Business Guarantee Bonds based on Article 7, Paragraph 1 of the Travel Agency Law.</li>
                            </ul>
                        </dd>
                    </dl>
                </section>
            </div>
        </div>
    </section>
    <!--#include virtual="/inc/footer.html" -->
</div>