<div id="sb-site">
    <div class="mypage">
        <div class="breadcrumb mypage__breadcrumb">
            <i></i>
            <ul class="breadcrumb__list">
                <li><a [routerLink]="['/']">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a [routerLink]='["/" + app.language + "/mypage"]'>{{'マイページTOP'|ttrans}}</a></li>
                <li><a [routerLink]='["/" + app.language + "/mypage/profile"]'>{{'プロフィール'|ttrans}}</a></li>
                <li><a>{{'メールアドレス変更送信完了'|ttrans}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="mypage__container mypage__flex">

            <top-mypage-menu></top-mypage-menu>
            <div class="mypage__content">
                <top-mypage-head></top-mypage-head>

                <div class="mypage__body">



                    <div class="mypage__body__section">

                        <h2 class="mypage__body__title--02">{{'メールアドレス送信完了'|ttrans}}</h2>

                        <div class="mypage__body__block">

                            <div class="mypage__body__block__caution">

                                <h3 class="mypage__body__block__caution__title">{{'入力されたメールアドレスに、'|ttrans}}<br>{{'変更確認メールを送信いたしました。'|ttrans}}</h3>

                                <p class="mypage__body__block__caution__text">{{'30分以内に、メール内の変更確認のURLをクリックして変更登録の完了をして下さい。'|ttrans}}<br>{{'メールが届かない場合は、迷惑フォルダもお確かめください。'|ttrans}}<br>{{'それでも無い場合は、再度メールアドレス変更から新たにメールアドレスを入力して送信して下さい。'|ttrans}}</p>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="mypage__foot">
                    <a [routerLink]="['/'+languageName+'/mypage/profile']" class="link--back"><i class="fa fa-angle-left" aria-hidden="true"></i>{{'プロフィールへ戻る'|ttrans}}</a>
                </div>

            </div>
        </div>
    </div>

    <!--#include virtual="/inc/footer.html" -->
</div>