<section class="review outer content">
    <div class="content__head">
        <h2 class="content__title">{{'最新の口コミ'|ttrans}}</h2>
    </div>
    <div class="content__body">
        <div class="content__lead">
            <p>{{'旅ユーザーからの口コミです。旅プラン選択の参考にしてくださいね。'|ttrans}}</p>
        </div>
        <div class="review__container outer__inner" *ngIf="listReview.total > 0">
            <ul class="review__list">
                <li *ngFor="let item of listReview.data">
                    <div class="review__flex">
                        <div class="review__photo">
                            <img [attr.src]="item.member && item.member.avatar ? app.constant.FILE_URL+item.member.avatar : '/assets/top/img/noimage_200x200.png'" alt="">
                            <p class="guide-name" *ngIf="item.member">{{item.member.name}}</p>
                        </div>
                        <div class="review__text">
                            <div class="review__head">
                                <div>
                                    <p class="guide-name" *ngIf="item.member"><span>{{'旅ガイド'|ttrans}}：</span><a [routerLink]='["/" + app.language + "/guide/detail/" + item.guider_id]'>{{item.nick_name}}</a></p>
                                    <p class="guide-date" *ngIf="item.created_at">{{'F07_投稿日'|ttrans}}：<span *ngIf="app.language == app.constant.DEFAULT_LANGUAGE_URL">{{item.created_at|datex: "YYYY年MM月DD日"}}</span><span *ngIf="app.language != app.constant.DEFAULT_LANGUAGE_URL">{{item.created_at|datex: "YYYY/MM/DD"}}</span></p>
                                </div>
                                <div class="guide-score">
                                <top-star class="star" [point]="item.point"></top-star>
                                </div>
                            </div>
                            <div class="review__body" *ngIf="item.content">
                                <pre class="limit pre-text word-break">{{item.content | limit:200}}<a *ngIf="item.booking && item.booking.plan_id" [routerLink]='["/" + app.language + "/tour/detail/" + item.booking.plan_id]'>{{'続きを見る'|ttrans}}</a></pre>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="review__container outer__inner" *ngIf="listReview.total == 0">
            <div class="content__lead">
                <p>{{'データがありません。'|ttrans}}</p>
            </div>
        </div>
    </div>
    <div class="review__footer content__footer" *ngIf="listReview.total > 3">
        <a class="review__button btn--default" [routerLink]='["/" + app.language + "/review"]'>{{'もっと見る'|ttrans}}</a>
    </div>
</section>
<!-- /.request-list outer content -->