<div id="sb-site">
    <section class="article page-content outer" *ngIf="app.language == app.constant.DEFAULT_LANGUAGE_URL">
        <div class="article__visual page-content__visual">
            <h2 class="page-content__title">特定商取引法に関する記載</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">ガイドマッチングTOP</a></li>
                <li><a href="/article/">特定商法取引に関する記載</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="outer__inner">
            <div class="container">
                <table class="table table--default">
                    <tbody>
                    <tr>
                        <th>会社名</th>
                        <td>株式会社平成エンタープライズ</td>
                    </tr>
                    <tr>
                        <th>代表者または運営統括責任者名</th>
                        <td>田倉　貴弥</td>
                    </tr>
                    <tr>
                        <th>所在地・連絡先</th>
                        <td>埼玉県富士見市東みずほ台1-4-5 グランシャリオ201・202号   </td>
                    </tr>
                    <tr>
                        <th>販売価格</th>
                        <td>商品（プラン）ごとに表示されています。</td>
                    </tr>
                    <tr>
                        <th>支払いの時期および方法</th>
                        <td>商品（プラン）予約時に、クレジットカード（VISA/Master）でお支払いいただきます。株式会社イーコンテクストの決済システムを利用しており、決済画面にてクレジットカード情報や個人情報を入力頂き決済させて頂きます。</td>
                    </tr>
                    <tr>
                        <th>商品の受渡し方法</th>
                        <td>商品（プラン）申込時に指定した日時・場所にてサービスを受けていただきます。</td>
                    </tr>
                    <tr>
                        <th>キャンセル時の対応</th>
                        <td>
                            キャンセルポリシーにキャンセル料の取扱いを指定しています。<br/>
                            また、サービス提供者側が何らかの理由でサービスを提供できない場合、サービスの提供について当社の責に帰すべき事由が発生した疑いがあった場合は、速やかに事実関係を調査した上で一部または全額を返金いたします。
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
    <section class="article page-content outer" *ngIf="app.language != app.constant.DEFAULT_LANGUAGE_URL">
        <div class="article__visual page-content__visual">
            <h2 class="page-content__title">Specified commercial transaction law</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">Matching guide TOP</a></li>
                <li><a href="/article/">Specified commercial transaction law</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="outer__inner">
            <div class="container">
                <table class="table table--default">
                    <tbody>
                    <tr>
                        <th>company name</th>
                        <td>Heisei Enterprise Co., Ltd.</td>
                    </tr>
                    <tr>
                        <th>Name of representative or administrative supervisor</th>
                        <td>Kimi Takura</td>
                    </tr>
                    <tr>
                        <th>Location / Contact</th>
                        <td>Saitama-ken Fujimi-shi, Higashi Mizuhodai 1-4-5 Gran Chariot 201 · 202</td>
                    </tr>
                    <tr>
                        <th>Selling price</th>
                        <td>As displayed for each product (plan).</td>
                    </tr>
                    <tr>
                        <th>Payment time and method</th>
                        <td>At the time of reserving our Product (travel plan), please pay with credit card (VISA / Master) when booking. Our company uses the e-context system for settlements. Payments will be made by entering credit card information and personal information on the settlement screen.</td>
                    </tr>
                    <tr>
                        <th>Delivery method of products</th>
                        <td>You will receive the service (travel plan) at the date and time specified at the time of making a reservation.</td>
                    </tr>
                    <tr>
                        <th>Cancellation support</th>
                        <td>
                            Cancellation policy specifies the details of handling cancellation fees.<br/>
                            In addition, if the service provider is unable to carry out the service due to any unforseen reason, our office will look into it and perform a thorough investigation. If there is a miss from our end well will refund the amount to make up for it.
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
</div>