@import "foundation/_mixin.scss";
@import "foundation/_setting.scss";

.detail-list{
	&__visual{
		background: url(/img/cover.png) no-repeat center top;
		background-size: cover;
		@include for-size(phone-only) {
			height: 360px;
			.page-content__title{
				background: rgba(0,0,0,.8);
				width: 100%;
				bottom: 0;
				top: auto;
				padding: 10px 20px;
				box-sizing: border-box;
				left: 0;
				transform: translate(0,0);
				-webkit-transform: translate(0,0);
			}
		}
	}
	.content-list__wrap{
		margin: 0;
	}
	.content-list__item{
		margin-right: 25px;
		&:nth-child(4n){margin-right: 0;}
	}
}


