<div id="sb-site">
    <section class="request-detail page-content outer">
        <div class="request-detail__visual page-content__visual" style="background: url(./assets/top/img/visual_request-detail.png);">
            <h2 class="page-content__title">リクエスト詳細</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">トップ</a></li>
                <li><a href="/terms_of_using/">{{'利用規約'}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="outer__inner">
            <section class="request-detail__section">
                <h3 class="request-detail__sub-title">Travel bussiness</h3>
                <p>ユーザーの紹介文がはいります。<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </section>
        </div>
    </section>
</div>