<div id="sb-site">
    <section class="guide-list page-content outer">
        <div class="guide-list__visual page-content__visual">
            <h2 class="page-content__title">{{'旅プラン一覧'|ttrans}}</h2>
        </div>
        <!--/.search__visual -->
        <search-breadcrumb *ngIf="option" [option]="option" [last]="last"></search-breadcrumb>
        <div class="outer__inner">
            <div class="container">
                <div class="container__sub">
                    <section class="search-content">
                        <div class="search-content__head">
                            <h2 class="search-content__title">{{'旅行先から探す'|ttrans}}</h2>
                        </div>
                        <div class="search-content__body">
                            <select name="search-area" id="search-area" class="easy-select" style="font-size: 16px;" *ngIf="app.listDataFormSearch.cities">
                                <option value="" selected>{{'旅先はどちらですか？'|ttrans}}</option>
                                <optgroup *ngFor="let country of app.listDataFormSearch.cities" label="{{country.display_name}}">
                                    <option *ngFor="let item of country.cities" [value]="item.prefix" [selected]="conditions.city_prefix.indexOf(item.prefix) != -1">
                                        <span>{{item.name}}</span>
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </section>
                    <section class="search-content">
                        <div class="search-content__head">
                            <h2 class="search-content__title">{{'日付'|ttrans}}</h2>
                        </div>
                        <div class="search-content__body">
                            <div class="custom-form">
                                <input id="input-date" type="text" placeholder="{{'日付'|ttrans}}" class="custom-form__input" [value]="conditions.date_plan">
                            </div>
                        </div>
                    </section>
                    <section class="search-content">
                        <div class="search-content__head">
                            <h2 class="search-content__title">{{'カテゴリー絞り込み'|ttrans}}</h2>
                        </div>
                        <div class="search-content__body">
                            <ul class="search-content__wrap">
                                <li *ngFor="let item of app.listDataFormSearch.categories">
                                    <div>
                                        <input type="checkbox" name="category" value="{{item.prefix}}"  id="{{item.prefix}}" [checked]="conditions.category_prefix.indexOf(item.prefix) != -1" />
                                        <label [for]="item.prefix" style="word-break: break-all;" class="checkbox">{{item.name}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="search-content">
                        <div class="search-content__head">
                            <h2 class="search-content__title">{{'対応言語'|ttrans}}</h2>
                        </div>
                        <div class="search-content__body">
                            <select name="search-area" id="search-language" class="easy-select">
                                <option value="">{{'対応言語'|ttrans}}</option>
                                <option *ngFor="let item of app.listDataFormSearch.languages" [value]="item.prefix" [selected]="conditions.language_prefix.indexOf(item.prefix) != -1">{{item.display_name|ttrans}}</option>
                            </select>
                        </div>
                    </section>
                    <button type="submit" id="search-tour" class="search-content__button" (click)="searchTour()">{{'検索'|ttrans}}</button>

                </div>
                <div class="container__main">
                    <div class="container__main__inner">
                        <section class="search-content">
                            <div class="search-content__head">
                                <h2 class="search-content__title">{{'並び'|ttrans}}</h2>
                            </div>
                            <div class="search-content__body search-content__body__sort">
                                <select name="search-sort" id="search-sort" class="sort-easy-select" (change)="searchTour()">
                                    <option value="updated_at">{{'新着順'|ttrans}}</option>
                                    <option value="rating">{{'人気順'|ttrans}}</option>
                                    <option value="price">{{'価格順安い・高い'|ttrans}}</option>
                                </select>
                                <span class="select2-selection__arrow__sort" role="presentation"><b role="presentation"></b></span>
                            </div>
                        </section>
                    </div>
                    <div class="container__head">
                        <h3 class="container__title"><span>{{'「検索された条件の文言表示エリア」の体験一覧'|ttrans}}</span></h3>
                        <div class="result">
                            <p *ngIf="listPlans.data && listPlans.total > 0" class="result__num">{{listPlans.total}}</p>
                            <p *ngIf="listPlans.total > 0" class="result__text">{{'件'|ttrans}}</p>
                        </div>
                    </div>
                    <div class="container__body">
                        <div class="content-list">
                            <ul class="content-list__wrap" *ngIf="listPlans.data && listPlans.data.length > 0">
                                <li class="content-list__item" *ngFor="let item of listPlans.data">
                                    <div>
                                        <div class="content-list__photo">
                                            <a [routerLink]="['/'+app.language + '/tour/detail/'+item.id]">
                                                <figure class="content-list__cover"><img [attr.src]="item.imagePlan ? app.constant.FILE_URL+item.imagePlan : '/assets/top/img/noimage.png'" alt=""></figure>
                                            </a>
                                            <a [routerLink]="['/'+app.language + '/guide/detail/'+item.member_id]">
                                                <figure class="content-list__person"><img [attr.src]="item.avatar ? app.constant.FILE_URL+item.avatar : '/assets/top/img/noimage_200x200.png'" alt=""></figure>
                                            </a>
                                        </div>
                                        <div class="content-list__body">
                                            <ul *ngIf="item.categories" class="category">
                                                <li *ngFor="let category of item.categories"><a [routerLink]="['/'+ app.language + '/search/category-' + category.prefix]" style="background: #7cb342">{{category.name}}</a></li>
                                            </ul>
                                            <h4 class="content-list__title">
                                                <a class="list--style" [routerLink]="['/'+app.language + '/tour/detail/'+item.id]" data-toggle="tooltip" title="{{item.proposal_title}}">{{item.proposal_title}}</a>
                                            </h4>
                                            <div class="content-list__utility">
                                                <div class="content-list__flex">
                                                    <p *ngIf="item.price > 0" class="price">{{'¥'|ttrans}}{{item.price|numberFormat}}／{{'人'|ttrans}}</p>
                                                    <p *ngIf="item.price == 0" class="price">{{'¥'|ttrans}}{{item.price}}／{{'人'|ttrans}}</p>
                                                    <p *ngIf="item.time_request" class="time">{{item.time_request|formatHour}}h／{{'所要時間'|ttrans}}</p>
                                                </div>
                                                <div class="content-list__flex">
                                                    <top-star  class="star" [point]="item.plan_ranking"></top-star>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p *ngIf="listPlans.data.length == 0" style="text-align: center;">{{'現在、検索結果がないので、他の検索条件を選択してください。'|ttrans}}</p>
                        </div>
                    </div>
                    <div class="container__foot">
                        <a *ngIf="listPlans.current_page * 1 < listPlans.last_page * 1" href="javascript:void(0);" class="btn--default" (click)="loadMore()">{{'もっと見る'|ttrans}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
