<header id="header" class="animated fadeInDown">
    <div id="logo-group">
        <span id="logo"> <img src="assets/top/img/logo.png" alt="SmartAdmin"> </span>
    </div>

</header>
<div role="main" class="animated fadeInDown">

    <div id="content" class="container">

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <admin-flash></admin-flash>
                <div id="new-password-form" class="smart-form client-form">
                    <header>
                        パスワード再設定
                    </header>

                    <fieldset>

                        <section>
                            <label class="label">新しいパスワード</label>
                            <small class="msg_err" *ngIf="error && error.message">{{error.message}}</small>
                            <label class="input">
                                <input type="password" name="password" placeholder="４文字以上８文字以内の半角英数字">
                                <small class="msg_err" *ngIf="error && error.password">{{error.password[0]}}</small>
                            </label>
                            <label class="label margin-top">パスワード（確認)</label>
                            <label class="input">
                                <input type="password" name="password_confirmation" placeholder="４文字以上８文字以内の半角英数字">
                                <small class="msg_err" *ngIf="error && error.password_confirmation">{{error.password_confirmation[0]}}</small>
                            </label>

                        </section>

                    </fieldset>
                    <footer>
                        <button (click)="submitPassword(extra_token)" class="btn btn-primary">
                            {{'設定'}}
                        </button>
                    </footer>
                </div>

            </div>

        </div>
    </div>

</div>

