#content{
    display: flex;
    justify-content: center;
}
.msg_err {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b94a48;
}
.margin-top {
    margin-top: 6px!important;
}