<div class="mypage">
    <div class="breadcrumb mypage__breadcrumb">
        <i></i>
        <ul class="breadcrumb__list">
            <li><a [routerLink]="['/' + language]">{{'マッチングガイドTOP'|ttrans}}</a></li>
            <li><a [routerLink]="['/' + language + '/mypage']">{{'マイページTOP'|ttrans}}</a></li>
            <li><a [routerLink]="['/' + language + '/mypage/apply']">{{'F57_応募一覧'|ttrans}}</a></li>
            <li>{{'F57_応募詳細'|ttrans}}</li>
        </ul>
    </div>
    <!--/.breadcrumb -->
    <div class="mypage__container mypage__flex">

        <top-mypage-menu></top-mypage-menu>
        <div class="mypage__content">
            <top-mypage-head></top-mypage-head>

            <div class="mypage__body">
                <div class="mypage__body__section">

                    <div class="mypage__body__title--box">
                        <div class="mypage__body__title--box-shoulder">
                            <button type="button" class="btn--primary btn__mypage btn__mypage--contact" (click)="messageInput(detail.id)">{{'旅ユーザーへ回答'|ttrans}}</button>
                        </div>
                        <h2 class="mypage__body__title--02 mypage__body__title--normal">{{'応募詳細'|ttrans}}</h2>
                    </div>

                    <h3 class="mypage__body__title"><a target="_blank" [routerLink]='["/" + app.language + "/tour/detail/" + detail.plan_id]'>{{detail.name}}</a></h3>

                    <ul class="mypage__body__tab__list">
                        <li><a [routerLink]='["/" + language + "/mypage/apply/detail/" + detail.id]' class="is-current">{{'予約詳細'|ttrans}}</a></li>
                        <li><a [routerLink]='["/" + language + "/mypage/apply/detail/" + detail.id] + "/messageinput"'>{{'問合せ履歴'|ttrans}}</a></li>
                    </ul>

                    <div class="mypage__body__frame mypage__body__frame--s mypage__body__frame--btmless">

                        <div class="mypage__body__block">

                            <p class="mypage__body__text--date" *ngIf="detail.created_at">{{'予約日'|ttrans}}：{{detail.created_at|datex: "YYYY/MM/DD HH:mm:ss"}}</p>

                            <table border="0" cellspacing="0" cellpadding="0" class="mypage__body__table-normal">
                                <tbody>
                                <tr>
                                    <th scope="col">{{'ステータス'|ttrans}}</th>
                                    <td>
                                        <p *ngIf="detail.status == app.constant.REQUESTING_GUIDER">{{'F57_リクエスト承認'|ttrans}}</p>
                                        <p *ngIf="detail.status == app.constant.AFTER_EXECUTE && detail.notify_one_day == false && detail.is_already == false">{{'実施前'|ttrans}}</p>
                                        <p *ngIf="detail.status == app.constant.AFTER_EXECUTE && detail.is_already == true && detail.guider_status_go == app.constant.FALSE && detail.traveler_status_not_go == app.constant.FALSE">{{'F57_実施承認'|ttrans}}</p>
                                        <p *ngIf="(detail.status == app.constant.AFTER_EXECUTE && detail.guider_status_go == app.constant.TRUE && detail.traveler_status_not_go == app.constant.FALSE && detail.notify_one_day == true) || detail.status == app.constant.REQUEST_REVIEW">{{'F56_評価登録'|ttrans}}</p>
                                        <p *ngIf="detail.status == app.constant.REVIEWED">{{'F56_評価済み'|ttrans}}</p>
                                        <p *ngIf="detail.status == app.constant.CANCEL">{{'F56_キャンセル'|ttrans}}</p>
                                        <p *ngIf="detail.status != app.constant.REVIEWED && detail.traveler_status_not_go == app.constant.TRUE">{{'F56_実施後キャンセル'|ttrans}}</p>
                                        <pre *ngIf="detail.status == app.constant.CANCEL && detail.guider_reason_cancel" class="guider-reason-cancel pre-text word-break">{{detail.guider_reason_cancel}}</pre>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'実施日'|ttrans}}</th>
                                    <td><p>{{detail.date_actual|datex: "YYYY/MM/DD"}}（{{day_str|ttrans}}）</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'開始時間'|ttrans}}</th>
                                    <td><p>{{detail.date_actual|datex: "HH:mm"}}</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'集合場所'|ttrans}}</th>
                                    <td>
                                        <p *ngIf="detail.address" class="button-location">
                                            <span>{{detail.address}}</span>
                                            <a class="btn--primary btn__mypage btn__mypage--map btn__mypage--icon" href="{{addressMap}}" target="_blank">{{'地図表示'|ttrans}}</a>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'人数'|ttrans}}</th>
                                    <td>{{detail.number_people}}{{'F57_人'|ttrans}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'単価'|ttrans}}</th>
                                    <td>￥{{detail.amount/detail.number_people|numberFormat}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'F57_合計料金'|ttrans}}</th>
                                    <td><span>￥{{detail.amount|numberFormat}}</span></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'手数料率'|ttrans}}</th>
                                    <td>{{detail.rate}}％</td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'手数料'|ttrans}}</th>
                                    <td>￥{{(detail.amount*detail.rate)/100|numberFormat}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'お支払額'|ttrans}}</th>
                                    <td>￥{{(detail.amount*(100-detail.rate))/100|numberFormat}}</td>
                                </tr>
                                <!--<tr>
                                    <th scope="col">{{'支払い'|ttrans}}</th>
                                    <td>
                                        <span *ngIf="!detail.payment_status || detail.payment_status == app.constant.FALSE">{{'未'|ttrans}}</span>
                                        <span *ngIf="detail.payment_status == app.constant.TRUE">{{'支払い済'|ttrans}}</span>
                                    </td>
                                </tr>-->
                                </tbody>
                            </table>

                            <p class="mypage__body__text bolder-text">{{'予約代表者情報'|ttrans}}</p>
                            <table border="0" cellspacing="0" cellpadding="0" class="mypage__body__table-normal">
                                <tbody>
                                <tr>
                                    <th scope="col">{{'予約代表者情報'|ttrans}}</th>
                                    <td><p>{{detail.customer_name}}</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'性別'|ttrans}}</th>
                                    <td><p>{{app.constant.User.gender[detail.gender]|ttrans}}</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'連絡先'|ttrans}}</th>
                                    <!--<td><p>{{detail.phone}}</p></td>-->
                                    <td><span *ngIf="app.constant.CountryCallingCodes[detail.phone_code]">{{app.constant.CountryCallingCodes[detail.phone_code]|ttrans}}</span>{{detail.phone}}</td>
                                </tr>
                                <tr>
                                    <th>{{'Other requirement to guider'|ttrans}}</th>
                                    <td>
                                        <pre class="mypage__body__table-normal__pre">{{detail.request_guider}}</pre>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'メールアドレス'|ttrans}}</th>
                                    <td><p *ngIf="detail.members">{{detail.members.email}}</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'メールアドレス２'|ttrans}}</th>
                                    <td><p>{{detail.email}}</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'国'|ttrans}}</th>
                                    <td><p *ngIf="listCountry">{{listCountry[detail.country_id]}}</p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'住所'|ttrans}}</th>
                                    <td><p><span *ngIf="listPrefectures">{{listPrefectures[detail.prefecture_id]}}</span> <span>{{detail.customer_address}}</span></p></td>
                                </tr>
                                <tr>
                                    <th scope="col">{{'話せる言語'|ttrans}}</th>
                                    <td><p *ngIf="listLanguages"><span *ngFor="let item of detail.customer_languages" class="guider_languages">{{listLanguages[item.language_id]|ttrans}}</span></p></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>

                    <div class="mypage__body__block">

                        <div class="mypage__body__tab__form">
                            <ul>
                                <li *ngIf="detail.status == app.constant.REQUESTING_GUIDER && detail.notify_one_day == false"><button type="button" class="btn--primary btn__mypage" (click)="guiderApprove(detail.id, detail.date_actual)">{{'リクエスト承認'|ttrans}}</button></li>
                                <li *ngIf="detail.status == app.constant.REQUESTING_GUIDER && detail.notify_one_day == false"><button type="button" class="btn--primary btn__mypage" (click)="showPopupNotApproved(detail.id, detail.date_actual)">{{'リクエスト非承認'|ttrans}}</button></li>
                                <li *ngIf="detail.status == app.constant.AFTER_EXECUTE && detail.notify_one_day == false && today != date_actual_convert"><button type="button" class="btn--primary btn__mypage btn__mypage--contact button-cancel" (click)="showPopup(detail.id)">{{'キャンセル'|ttrans}}</button></li>
                                <li *ngIf="(detail.guider_status_go == app.constant.TRUE || detail.traveler_status_not_go == app.constant.TRUE || detail.status == app.constant.REQUEST_REVIEW) && detail.notify_one_day == true"><button type="button" class="btn--primary btn__mypage" (click)="reviewUser(detail.id)">{{'旅ユーザー評価'|ttrans}}</button></li>
                                <li *ngIf="detail.status == app.constant.AFTER_EXECUTE && detail.guider_status_go == app.constant.FALSE && detail.traveler_status_not_go == app.constant.FALSE && detail.notify_one_day == true"><button type="button" class="btn--primary btn__mypage" (click)="implementBooking(detail.id)">{{'F57_実施済'|ttrans}}</button></li>
                                <li *ngIf="detail.status == app.constant.AFTER_EXECUTE && detail.guider_status_go == app.constant.FALSE && detail.traveler_status_not_go == app.constant.FALSE && detail.notify_one_day == true"><button type="button" class="btn--primary btn__mypage" (click)="notComeBooking(detail.id, detail.date_actual)">{{'実施キャンセル'|ttrans}}</button></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!--<div class="mypage__body__section" *ngIf="detail.member_review">

                    <h2 class="mypage__body__title&#45;&#45;02">{{'評価済み'|ttrans}}</h2>

                    <div class="review__container">
                        <ul class="review__list">
                            <li>
                                <div class="review__flex">
                                    <div class="review__text">
                                        <div class="review__head">
                                            <div class="flex-content">
                                                <top-star class="star" [point]="detail.member_review.point"></top-star>
                                            </div>
                                        </div>
                                        <div class="review__body" id="post_{{id}}" *ngIf="detail.member_review.content">
                                            <p>{{detail.member_review.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>-->



            </div>

            <div class="mypage__foot">
                <a [routerLink]='["/" + language + "/mypage/apply"]' class="link--back"><i class="fa fa-angle-left" aria-hidden="true"></i>{{'応募一覧へ戻る'|ttrans}}</a>
            </div>

        </div>
    </div>
    <!-- Modal content-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'キャンセル理由'|ttrans}}</h4>
                <button type="button" class="btn btn-default close" (click)="close_modal()" id="close_modal" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <textarea id="content-reason" placeholder="{{'キャンセル理由を記載ください。'|ttrans}}" rows="10"></textarea>
                <small class="msg_err" *ngIf="error.content">{{error.content|ttrans}}</small>
            </div>
            <div class="modal-footer">
                <p class="modal-footer__text">{{'上記の内容でキャンセル理由をしますが大丈夫ですか？'|ttrans}}</p><br>
                <button class="submit" data-dismiss="modal" (click)="guiderCancelBooking(detail.id)">{{'登録確認'|ttrans}}</button>
            </div>
        </div>
    </div>
</div>