#sb-site {
    z-index: inherit;
    position: inherit;
}
.msg_err {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b94a48;
}
.list-item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-item li {
    padding: 0 20px;
    position: relative;
    counter-increment:section;
}
.list-item li:before {
    content: "/";
    position: absolute;
    top:0;
    left: -11px;
}

.list-item li:first-child:before {
    content: none;
}
.list-item li:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border:1px solid;
    content:""counter(section);
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 0;
    top:0;
}

.modal-dialog {
    display: none;
}
.modal-content {
    top:25%;
}

.modal-content.modal-content--style {
    top:50% !important;
    max-height: 90%;
    position: fixed;
    border-radius: 0;
}

.modal-content.modal-content--style .modal-body {
    max-height: 450px;
    overflow-y: scroll;
}
@media (max-width: 767px) {
    .modal-content.modal-content--style .modal-body {
        max-height: 300px;
        overflow-y: scroll;
    }
}
.mypage__body__title {
    word-break: break-all;
}
.modal-header {
    position: relative;
    text-align: right;
    margin-top: -4px;
    margin-bottom: 10px;
}
.modal-header a {
    text-decoration: none;
    color:#333;
}
/*.list--style {*/
     /*max-width: 200px;*/
     /*overflow: hidden;*/
 /*}*/
/*.list--style a {*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*display: block;*/
/*}*/

.list--style--name {
    max-width: 200px;
    overflow: hidden;
}
@media (max-width:767px) {
    .list--style--name{
        max-width: 500px;
    }
}
.list--style--name a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.modal-dialog-cancel {
    display: none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(43, 46, 56, 0.9);
    z-index: 9999;
}

.modal-content-cancel {
    width: 50vw;
    background: #fff;
    position:fixed;
    top:calc(50% - 30px);
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
}
@media only screen and (max-width: 767px) {
    .modal-content-cancel {
        width: 70vw;
    }
}
.modal-header-cancel__title {
    line-height: 1.4;
    margin-top: 20px;
    font-size: 18px;
    font-size: 1.8rem;
    text-align: center;
}
.modal-header-cancel {
    position: relative;
}
.modal-header-cancel button {
    position: absolute;
    top: -9px;
    right: -7px;
    border: none;
    background: no-repeat;
    font-size: 20px;
    cursor: pointer;
}
.modal-header-cancel button:hover {
    color:#f00;
}
.modal-footer-cancel {
    margin-top: 5px;
    text-align: center;
}
.modal-footer-cancel button {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 8px;
    color: #333;
    cursor: pointer;
}
.modal-footer-cancel .submit {
    background: #66bb6a;
    color:#fff;
    margin-top: 10px;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    padding: 12px 0;
    border: none;
}
.modal-footer-cancel .close {
    background: #C20F16;
    color:#fff;
    border-color:#C20F16;
    border-radius: 0;
}
.modal-body-cancel {
    margin: 10px 0;
    padding: 10px;
}
.modal-body__text-cancel {
    word-break: break-all;
    line-height: 18px;
}
.modal-footer__text-cancel {
    text-align: center;
}
.btn__inner-cancel {
    display: flex;
    justify-content: center;
}

.submit {
    font-size: 1.6rem;
}
.cancel {
    margin-top: 10px;
    display: inline-block;
    background: #ef5350 !important;
    padding: 10px !important;
    border: none !important;
    color: #fff !important;
    min-width: 110px;
    font-size: 1.6rem;
    margin-right: 3px;
}
.pre-text{
    white-space: pre-wrap;
    word-break: break-all;
}
.mypage__body__table-normal p {
    word-break: break-all;
}
@media (max-width: 767px) {
    .mypage__body__title--box-shoulder {
        position: relative;
        text-align: center;
    }
}
.form-set__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-set__button__item {
    width:calc(50% - 20px);
    margin-right: 20px;
}
.form-set__button__item:last-child {
    margin-right: 0;
}
.form-set__button__item button {
    padding: 20px;
    width: 100%;
    font-size: 1.6rem;
    font-size: 16px;
    height:100%;
}
.form-set__button__item button:after {
    content: none;
}
@media (max-width: 767px) {
    .form-set__button__item button {
        font-size: 14px;
        font-size: 1.4rem;
        height: 60px;
        padding: 10px;
    }
}
.mypage__body__table__width {
    min-width: 200px;
}
@media (max-width: 767px) {
    .mypage__body__table__width {
        min-width: auto;
    }
}
