.msg_err {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b94a48;
}
.list-item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-item li {
    padding: 0 20px;
    position: relative;
    counter-increment:section;
}
.list-item li:before {
    content: "/";
    position: absolute;
    top:0;
    left: -11px;
}

.list-item li:first-child:before {
    content: none;
}
.list-item li:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border:1px solid;
    content:""counter(section);
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 0;
}
.form-set__textarea {
    width: 100%;
}
.pre-text{
    white-space: pre-wrap;
    /*font-size: 14px;*/
    line-height: 24px;
    word-break: break-all;
}
.mypage__body__table-normal p {
    word-break: break-all;
}
.mypage__body__title {
    word-break: break-all;
}