<div id="sb-site">
    <div class="mypage">
        <div class="breadcrumb mypage__breadcrumb">
            <i></i>
            <ul class="breadcrumb__list">
                <li><a [routerLink]="['/' + app.language]">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a [routerLink]="['/' + app.language + '/mypage']">{{'マイページTOP'|ttrans}}</a></li>
                <li><a [routerLink]="['/' + app.language + '/mypage/request/add']">{{'F27_旅のリクエスト一覧'|ttrans}}</a></li>
                <li>{{'旅のリクエスト作成完了'|ttrans}}</li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="mypage__container mypage__flex">

            <top-mypage-menu></top-mypage-menu>
            <div class="mypage__content">
                <top-mypage-head></top-mypage-head>

                <div class="mypage__body">
                    <div class="mypage__body__section">

                        <h2 class="mypage__body__title--02">{{'旅リクエスト 作成完了'|ttrans}}</h2>

                        <h3 class="mypage__body__title">{{request_title}}</h3>

                        <div class="mypage__body__block">

                            <div class="mypage__body__block__caution">

                                <h4 class="mypage__body__block__caution__title">{{'旅リクエストの作成が完了しました。'|ttrans}}<br>{{'旅リクエストの募集が開始されました。'|ttrans}}</h4>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="mypage__foot">
                    <a [routerLink]='["/" + app.language + "/mypage/request"]' class="link--back"><i class="fa fa-angle-left" aria-hidden="true"></i>{{'リクエスト一覧へ戻る'|ttrans}}</a>
                </div>

            </div>
        </div>
    </div>

    <!--#include virtual="/inc/footer.html" -->
</div>