<div id="sb-site">
    <section class="privacypolicy page-content outer">
        <div  class="privacypolicy__visual page-content__visual">
            <h2 class="page-content__title">{{'プライバシーポリシー'|ttrans}}</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a>{{'個人情報保護方針'|ttrans}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="outer__inner">
            <div class="page-content__container">
                <section class="condition" *ngIf="app.language != 'en'">
                    <h3 class="condition__title">個人情報保護方針について</h3>
                    <p>株式会社平成エンタープライズ（以下「当社」）のウェブサイト（以下「本サイト」）では、予約・問い合わせ・会員登録などの手続きの際、お客様の個人情報を入力していただき、データベースに登録しております。ご登録いただいた情報は、平成エンタープライズおよびそのメンバーがお客様にとって有益なサービスをご提供するために使用させていただきます。<br />また、当サイトでは個人情報を保護することが、当社の事業活動の基本であるとともに、社会的責務であると強く認識し、当社のサービスをご利用されているお客様の個人情報を適切に管理し、適正な取扱に努めております。</p>

                    <dl class="condition__list">
                        <dt><dfn>個人情報を入力していただく場合</dfn></dt>
                        <dd>
                            <p>本サイトでは、各種お申込みの際、それぞれのサービスご手配に必要なお客様の個人情報をご登録いただいております。</p>
                        </dd>
                        <dt><dfn>【個人情報保護方針】</dfn></dt>
                        <dd>
                            <ul class="list">
                                <li>当社は、個人情報保護に関する法令およびその他の規範を遵守します。</li>
                                <li>当社は、個人情報保護のための管理体制を整備し、個人情報の収集・利用・提供において所定の社内規定に従い適切に取り扱います。</li>
                                <li>当社は、お客様から個人情報をご提供頂く場合には、利用目的をあらかじめ明示し、その利用目的の範囲内において利用させて頂きます。</li>
                                <li>当社は、個人情報の不正アクセス、破壊、紛失、改ざん、漏洩などの防止に努めます。</li>
                                <li>当社は、個人情報の保護体制を維持し、社会情勢の動きに合わせ、適宜見直し、改善してまいります。</li>
                            </ul>
                        </dd>
                        <dt><dfn>【個人情報の利用】</dfn></dt>
                        <dd>
                            <p>各種手配お申込みフォームの主目的である予約作成・資料送付・商品送付・お問い合わせへのご返答など、各種手配をいたします。<br />各種手配お申込みフォームにてメールによるニュース配信のご許可をいただいた方及びメールマガジンのお申込みをいただいた方に対し、イベント・料理フェア・宿泊プラン・ツアー情報等をご案内いたします。<br />その他、弊社がお客様へのご連絡が必要と判断したとき、メール・電話・手紙にてご連絡を差し上げることがあります。</p>
                        </dd>

                        <dt><dfn>【個人情報の管理】</dfn></dt>
                        <dd>
                            <p>本サイトを利用されたお客様の個人情報が登録されたデータベースは、弊社内管理責任者及び弊社が契約する業務委託先が管理しております。お客様のメールアドレスは、弊社の発信するメールマガジンのほか、平成エンタープライズ＆そのメンバーによるメール配信に使用することがあります。この場合でも、メールアドレス以外の個人情報は開示いたしません。<br />ただし、以下の場合には、お客様の個人情報を第三者に開示することがあります。</p>
                            <ul class="list">
                                <li>お客様にサービスを提供する目的で、情報の開示や共有が必要と認められる場合。</li>
                                <li>お客様にサービスを提供する目的で、弊社が契約する協力会社が情報を必要とする場合。</li>
                                <li>情報開示について、お客様に同意をいただいたとき。</li>
                                <li>警察や裁判所等の公的機関から、法律に基づく正式な照会を受けた場合。</li>
                                <li>その他、お客様・弊社・第三者にとって重大かつ緊急の必要がある場合</li>
                            </ul>
                        </dd>
                        <dt><dfn>【統計情報の利用】</dfn></dt>
                        <dd>
                            <p>本サイトを利用されたお客様の情報は、個人情報を除いた統計情報として利用されております。これらの情報は様々な形のマーケティングデータとして活用されますが、それ以外の目的で利用されることはありません。</p>
                        </dd>
                        <dt><dfn>【アクセスログの記録】</dfn></dt>
                        <dd>
                            <p>当サイトでは、アクセスされた方のアクセスログを記録しています。アクセスログには、アクセスされた方のドメイン名やIPアドレス、使用しているブラウザの種類、アクセス日時、リンク元などが含まれますが、個人を特定できる情報を含むものではありません。アクセスログは本サイトの保守管理や利用状況に関する統計分析のために活用されますが、それ以外の目的で利用されることはありません。</p>
                        </dd>
                        <dt><dfn>【Cookieの利用】</dfn></dt>
                        <dd>
                            <p>当サイトでは、Cookieや、これに類似する技術を使用することがあります。 これらは、お客様のブラウザからのアクセス状況を把握しサイト改善に役立てる目的で使用しており、お客様のプライバシーを侵害するものではありません。</p>
                            <p> 当社の広告は、ヤフー株式会社をはじめとする第三者から配信される場合があり、これに関連して、当該第三者が、当社サイトを訪問したユーザーのCookie情報等を取得し、利用している場合があります。<br />当該第三者によって取得されたCookie情報等は、当該第三者のプライバシーポリシーに従って取り扱われます。<br />ユーザーは、当該第三者のウェブサイト内に設けられたオプトアウトページにアクセスして、当該第三者によるCookie情報等を利用する広告配信を停止することができます。</p>
                            <p>※Cookieとは お客様がサイトにアクセスする際にブラウザを通してお客様の端末にファイル（情報）を格納し、次回お客様が同一のサイトにアクセスする際にお客様を識別できるようにする技術のことです。 ブラウザの設定により、Cookieの機能を無効にすることができますが、その結果当サイトのサービスの一部がご利用いただけなくなることがあります。</p>
                        </dd>

                        <dt><dfn>【免責事項】</dfn></dt>
                        <dd>
                            <p>当社は、細心の注意を払って本ホームページに情報を掲載しておりますが、この情報の正確性および完全性を保証するものではありません。また、予告なしに、本ホームページ掲載されている情報を変更することがあります。<br />当社およびその関連会社は、お客さまが本ホームページに含まれる情報もしくは内容をご利用されたことで直接・間接的に生じた損失に関し一切責任を負うものではありません。</p>
                        </dd>
                        <dt><dfn>【プライバシーポリシーの改訂】</dfn></dt>
                        <dd>
                            <p>当ポリシーに重要な変更がある場合には、本サイト上で告知いたします。その他の変更については、最新の情報を本サイト上で随時ご確認ください。確認をされていなかったことに起因するトラブルに関しては、弊社は一切責任を負いかねますので予めご了承ください。</p>
                        </dd>

                    </dl>
                </section>
                <section class="condition" *ngIf="app.language == 'en'">
                    <h3 class="condition__title">Personal information protection policy</h3>
                    <p>
                        On the website (Matching guide website) of Heisei Enterprise, Inc. we request the customer to enter their personal information at the time of registration, inquiry or reserving a tour. All of the information will be stored safely in our database. This information will be used by Heisei Enterprise, Inc, and its members to provide services that are beneficial for both customers and guides.<br />
                        In addition, we at Heisei Enterprise, Inc. strongly recognize that protecting personal information is fundamental to our business activities and also the fact that it becomes a social responsibility to do so. Therefore, we appropriately manage the personal information of customers who use our services and strive for seamless handling.
                    </p>

                    <dl class="condition__list">
                        <dt><dfn>In case of inputting personal information</dfn></dt>
                        <dd>
                            <p>When a customer enters personal information on this site, we will use this information for handling the activities/tour plans applied for.</p>
                        </dd>
                        <dt><dfn>【Privacy policy】</dfn></dt>
                        <dd>
                            <ul class="list">
                                <li>We will comply with laws and other norms concerning personal information protection.</li>
                                <li>We will develop a management system for the protection of personal information and handle it appropriately in compliance with prescribed company regulations, use and provision of personal information.</li>
                                <li>In the event that we ask you to provide personal information, we will use it within the scope of its purpose of use by clearly stating its purpose of use well in advance.</li>
                                <li>We will endeavor to prevent unauthorized access, destruction, loss, falsification, leakage, etc. of personal information.</li>
                                <li>We will maintain and protect personal information, review and improve as necessary according to the social situations.</li>
                            </ul>
                        </dd>
                        <dt><dfn>【Use of personal information】</dfn></dt>
                        <dd>
                            <p>
                                The customers’ personal information will be used for making various arrangements such as reservation preparation, sending materials and products, inquiries etc., as this is the main objective of collecting various information via application forms.<br />
                                For all those who have opted to receive our e-mail magazine, we will contact you to inform about events, food rates, accommodation plans, tour information, etc.<br />
                                In addition, we may contact you by e-mail · telephone · postal mails depending on the need to contact you.
                            </p>
                        </dd>

                        <dt><dfn>【Management of personal information】</dfn></dt>
                        <dd>
                            <p>
                                The database containing customers’ personal information will be managed by our internal administrator and the contractor contracted by us. Your e-mail address may be used for e-mail distribution by Heisei Enterprise, Inc. & its members besides distribution of e-mail magazine. Even in this case, personal information other than the mail address will not be disclosed.<br />
                                However, in the following cases, we may disclose your personal information to third parties.
                            </p>
                            <ul class="list">
                                <li>When it is deemed necessary to disclose or share information for the purpose of providing customers with services.</li>
                                <li>In cases where a partner company contracted by our company needs information for the purpose of providing the service to the customer.</li>
                                <li>When the customers give us consent to disclose disclosure.</li>
                                <li>A formal inquiry based on law is received from a public institution such as a police or a court.</li>
                                <li>Otherwise, if there is a serious situation and there is an urgent need for customers, our company or third parties.</li>
                            </ul>
                        </dd>
                        <dt><dfn>[Use of statistical information]</dfn></dt>
                        <dd>
                            <p>Information on customers who use this website will be used as statistical information such as several forms of marketing data. This excludes personal information and it shall not be used for any other purposes.</p>
                        </dd>
                        <dt><dfn>【Access Log Recording】</dfn></dt>
                        <dd>
                            <p>On this site, access log of the person accessing this website is recorded. The access log includes information such as domain name, IP address, the type of browser being used, the date and time of access, the source link, etc., However, it does not contain information that can identify individuals. Access logs are used for statistical analysis concerning maintenance and usage of this site, but it will not be used for other purposes.</p>
                        </dd>
                        <dt><dfn>【Use of Cookie】</dfn></dt>
                        <dd>
                            <p>On this site, we may use cookies and similar technologies. Using such cookies, it is possible to recognize the visitor's browser in order to optimize the website and simplify its use. They do no not infringe your privacy.</p>
                            <p>
                                Our advertisement may be distributed by third parties such as Yahoo Japan Corporation, etc. In connection with this, the third party acquires cookie information of the user who visited our site.<br />
                                Cookie information etc. acquired by the third party are handled according to the third party's privacy policy.<br />
                                Most browsers are configured to accept cookies automatically. You can configure your browser to reject them, or to inform you when they are being set.
                            </p>
                            <p>※Cookies are small text files that are stored in the visitor's local browser cache. Data collected via cookies will not be used to determine the personal identity of the website visitor.</p>
                        </dd>

                        <dt><dfn>【Disclaimer】</dfn></dt>
                        <dd>
                            <p>
                                Although we post information on this website with extreme caution, we do not guarantee the accuracy and completeness of this information. In addition, we may change information published on this website without prior notice.<br />
                                The company and its affiliated companies will not be liable to any loss incurred by the use of information or contents on the website directly or indirectly by the customer.
                            </p>
                        </dd>
                        <dt><dfn>【Revision of Privacy Policy】</dfn></dt>
                        <dd>
                            <p>We will notify you on this site if there are important changes to this policy. For other changes, please check the latest information from time to time on this website. Kindly note that we will not be held responsible for any troubles caused by not confirming changes.</p>
                        </dd>

                    </dl>
                </section>
            </div>
        </div>
    </section>
    <!--#include virtual="/inc/footer.html" -->
</div>

