<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[['Change Password'|trans]]" icon="key" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-sm-12">
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
          <header role="heading">
            <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
            <h2>{{'Change Password'|trans}}</h2>
          </header>
          <div role="content">
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body">
              <form [formGroup]="fb.form" class="form-horizontal" (ngSubmit)="save()">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">{{'Current Password'|trans}} <span class="text-danger">*</span></label>
                    <div class="col-md-10">
                      <input type="password" formControlName="old_password" placeholder="{{'Current Password'|trans}}" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">{{'New Password'|trans}} <span class="text-danger">*</span></label>
                    <div class="col-md-10">
                      <input type="password" formControlName="new_password" placeholder="{{'New Password'|trans}}" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">{{'Confirm Password'|trans}} <span class="text-danger">*</span></label>
                    <div class="col-md-10">
                      <input type="password" formControlName="confirm_password" placeholder="{{'Confirm Password'|trans}}" class="form-control" />
                    </div>
                  </div>
                </fieldset>

                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary" type="submit"><i class="fa"></i> {{'Register'|trans}}</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
 </div>