.content-404 {
    border-top: 1px solid #ccc;
    padding: 80px 0;
    text-align: center;
    color: #565656;
}
.contents__inner {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.content-404__title {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 30px;
}
.content-404__button, .content-404__lead {
    font-size: 2rem;
    line-height: 1.2;
}
.content-404__lead {
    margin-bottom: 60px;
}
.content-404__button {
    border: none;
    background: #00a699;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    background-clip: padding-box;
    cursor: pointer;
    color: #fff;
}