/*

	TEXT POSITION (HIRIZON)

*******************************************************/
.u-pos-center{text-align: center !important;}
.u-pos-left{text-align: left !important;}
.u-pos-right{text-align: right !important;}

/*

	TEXT POSITION (VERTICAL)

*******************************************************/
.u-pos-v-center{vertical-align: middle !important;}
.u-pos-v-left{vertical-align: top !important;}
.u-pos-v-right{vertical-align: bottom !important;}

