<div id="shortcut" [@shortcutState]="state">
  <ul>
    <li>
      <a (click)="shortcutTo(['admin/password'])" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i
              class="fa fa-key fa-4x"></i> <span>{{'Change Password'|trans}}</span> </span> </a>
    </li>
    <li>
      <a (click)="shortcutTo(['admin/profile'])" class="jarvismetro-tile big-cubes bg-color-pinkDark"> <span class="iconbox"> <i
              class="fa fa-user fa-4x"></i> <span>{{'My Profile'|trans}} </span> </span> </a>
    </li>
  </ul>
</div>
