<div class="mypage" *ngIf="reservation_tours">
    <div class="breadcrumb mypage__breadcrumb">
        <i></i>
        <ul class="breadcrumb__list">
            <li><a [routerLink]="['/' + app.language]">{{'マッチングガイドTOP'|ttrans}}</a></li>
            <li><a [routerLink]="['/' + app.language + '/mypage']">{{'マイページTOP'|ttrans}}</a></li>
            <li>{{'旅プラン予約一覧'|ttrans}}</li>
        </ul>
    </div>
    <!--/.breadcrumb -->
    <div class="mypage__container mypage__flex">

        <top-mypage-menu></top-mypage-menu>
        <div class="mypage__content">
            <top-mypage-head></top-mypage-head>

            <div class="mypage__body">



                <div class="mypage__body__section">

                    <h2 class="mypage__body__title--02">{{'予約したプラン一覧'|ttrans}}</h2>

                    <table border="0" cellspacing="0" cellpadding="0" class="mypage__body__table-compact" *ngIf="reservation_tours">
                        <thead>
                        <tr>
                            <th scope="col">{{'予約日'|ttrans}}</th>
                            <th scope="col">{{'予約番号'|ttrans}}</th>
                            <th scope="col">{{'実施日'|ttrans}}</th>
                            <th scope="col">{{'予約したプラン'|ttrans}}</th>
                            <th scope="col">{{'ステータス'|ttrans}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of reservation_tours.data">
                            <td data-title="{{'予約日'|ttrans}}" class="mypage__body__table-compact__txt"><span *ngIf="item.created_at">{{item.created_at|datex: "YYYY/MM/DD"}}</span></td>
                            <td data-title="{{'予約番号'|ttrans}}" class="mypage__body__table-compact__txt"><span *ngIf="item.id">{{item.id|addFixedId: 'Y'}}</span></td>
                            <td data-title="{{'実施日'|ttrans}}"><span *ngIf="item.date_actual">{{item.date_actual|datex: "YYYY/MM/DD"}}</span></td>
                            <td data-title="{{'予約したプラン'|ttrans}}" class="mypage__body__table-compact__txt mypage__body__title__td"><a [routerLink]='["/" + app.language + "/mypage/reservationtour/detail/" + item.id]' data-toggle="tooltip" title="{{item.name}}">{{item.name}}</a></td>
                            <td data-title="{{'ステータス'|ttrans}}" style="text-align: center;">
                                <button *ngIf="item.status == app.constant.REQUESTING_GUIDER" type="button" class="btn--primary btn__mypage" (click)="guiderApprove(item.id, key)">{{'リクエスト未確定'|ttrans}}</button>
                                <button *ngIf="item.status == app.constant.AFTER_EXECUTE && item.notify_one_day == false" type="button" class="btn--primary btn__mypage btn__mypage--off btn__mypage--icon cursor-default">{{'実施前'|ttrans}}</button>
                                <button *ngIf="item.status == app.constant.AFTER_EXECUTE && item.notify_one_day == true
                                && item.traveler_status_go == app.constant.FALSE
                                && item.guider_status_not_go == app.constant.FALSE" type="button" class="btn--primary btn__mypage cursor-default">{{'F57_実施承認'|ttrans}}</button>
                                <button *ngIf="(item.status == app.constant.AFTER_EXECUTE
                                && item.traveler_status_go == app.constant.TRUE
                                && item.guider_status_not_go == app.constant.FALSE) || item.status == app.constant.REQUEST_REVIEW" type="button" class="btn--primary btn__mypage cursor-default">{{'F18_口コミ登録'|ttrans}}</button>
                                <button *ngIf="item.status == app.constant.REVIEWED" type="button" class="btn--primary btn__mypage btn__mypage--off btn__mypage--icon cursor-default">{{'口コミ済み'|ttrans}}</button>
                                <button *ngIf="item.status == app.constant.CANCEL" type="button" class="btn--primary btn__mypage btn__mypage--cancel btn__mypage--icon cursor-default">{{'キャンセル'|ttrans}}</button>
                                <button *ngIf="item.status != app.constant.REVIEWED && item.guider_status_not_go == app.constant.TRUE" type="button" class="btn--primary btn__mypage btn__mypage--icon cursor-default">{{'F56_実施後キャンセル'|ttrans}}</button>
                            </td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="reservation_tours.last_page < reservation_tours.current_page">
                        <tr>
                            <td colspan="5" class="have-no-data not-data">{{'データがありません。'|ttrans}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <layout-loadmore *ngIf="reservation_tours" [data]="reservation_tours" [url]="'mypage/reservation'"></layout-loadmore>
                </div>



            </div>
        </div>
    </div>
</div>