.request-detail{
	&__section{
		margin-bottom: 40px;
		@include for-size(phone-only) {
			margin-bottom: 20px;
			padding: 20px;
		}
		>p{
			@include font-size(16,24);
			@include for-size(phone-only) {
				@include font-size(14,24);
			}
		}
	}
	&__box{
		background: #fff;
		padding: 30px;
		box-sizing: border-box;
		border: 1px solid #ccc;
	}
	&__section+&__section{
		border-top: 1px solid #ccc;
		padding: 40px 0 0;
		@include for-size(phone-only) {
			padding: 20px;
		}
	}
	&__person{
		@include flexbox(flex-start,flex-start);
		@include for-size(phone-only) {
			flex-direction: column;
		}
	}
	&__photo{
		width: 190px;
		text-align: center;
		@include for-size(phone-only) {
			width: 100%;
			margin: 0 auto 20px;
			text-align: left;
		}
		img{
			width: 170px;
			height: 170px;
			@include border-radius(50%);
			@include for-size(phone-only) {
				width: 85px;
				@include border-radius(50%);
				height: 85px;
				vertical-align: middle;
			}
		}
	}
	&__name{
		@include font-size(24,24);
		margin-top: 15px;
		@include for-size(phone-only) {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-weight: bold;
		}
	}
	&__info{
		width: calc( 100% - 230px );
		margin-left: auto;
		@include for-size(phone-only) {
			margin: 0;
			width: 100%;
		}
	}
	&__flex{
		@include flexbox(flex-start,flex-start);
		margin-bottom: 40px;
		@include for-size(phone-only) {
			width: 100%;
			margin-bottom: 10px;
		}
		.pref-list{
			margin-right: 5px;
		}
	}
	&__title{
		@include font-size(26,32);
		font-weight: bold;
		margin-bottom: 40px;
		@include for-size(phone-only) {
			@include font-size(16,24);
			margin-bottom: 20px;
		}
	}
	&__table{
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		tbody{
			tr{
				th,td{
					box-sizing: border-box;
					@include font-size(15,22);
					@include for-size(phone-only) {
						display: block;
					}
				}
				th{
					width: 15%;
					text-align: left;
					background: #fafafa;
					border: 1px solid #ccc;
					padding: 20px;
					font-weight: bold;
					@include for-size(phone-only) {
						width: 100%;
						padding: 10px;
					}
				}
				td{
					background: #fff;
					width: 35%;
					border: 1px solid #ccc;
					padding: 20px;
					@include for-size(phone-only) {
						width: 100%;
						padding: 10px;
					}
				}
			}
		}
	}
	&__sub-title{
		@include font-size(24,24);
		font-weight: bold;
		margin-bottom: 35px;
		@include for-size(phone-only) {
			@include font-size(16,20);
			margin-bottom: 20px;
		}
	}
}
