.msg_err {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b94a48;
    text-align: left;
}
.content-booking-reviews{
    word-break: break-all;
}

.modal-dialog {
    display: none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.modal-content {
    top:45%;
}

.modal-body__content {
    padding:20px 10px;
    border:1px solid #333;
}
.modal-footer__text {
    margin-top: 15px;
}
.modal-title {
    text-align: center;
    padding: 20px;
}
.modal-body__p {
    margin: 5px 0;
}
#content-message-input {
    border: 1px solid #ccc;
    white-space: pre-wrap;
    line-height: 22px;
    padding: 10px;
    word-break: break-all;
    box-sizing: border-box;
    width: 100%;
}
#booking-chat-content {
    overflow-x: hidden;
}