<div id="sb-site">
    <section class="question page-content outer">
        <div  class="question__visual page-content__visual">
            <h2 class="page-content__title">{{'よくあるご質問'|ttrans}}</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a href="/question/">{{'F74_よくある質問'|ttrans}}</a></li>
            </ul>

        </div>
        <!--/.breadcrumb -->
        <div *ngIf="app.language == ''" class="outer__inner">
            <div class="page-content__container">

                <h3 class="question__title">マッチングガイドについて </h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">マッチングガイドとは?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">会員登録・会員情報について</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">法人や団体でも会員登録できますか？</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">退会するにはどうすればよいですか？</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">旅プランについて</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">旅プランを予約するには？</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">旅プランを変更することは可能ですか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">人数を追加することは可能ですか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">お支払いについて</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">旅プラン料金には何が含まれていますか？</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">ガイドについて</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">どのようにしてガイドと連絡を取れば良いですか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">自身の言語を話すガイドはどのようにして見つけられますか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">予約について</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">どのような支払い方法がありますか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">予約後、承認されるまでどれくらいの時間を要しますか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">予約番号はどこで確認できますか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">キャンセルしなければならなくなった場合はどうすれば良いですか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">どのようにしてキャンセルの手続きを行えば良いですか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">キャンセルポリシーを教えてください。</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">料金をプラン当日に直接支払うことはできますか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">その他のFAQ</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">レビューとはなんですか?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
            </div>
        </div>
        <div *ngIf="app.language != ''" class="outer__inner">
            <div class="page-content__container">

                <h3 class="question__title">About the matching guide </h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What is a matching guide?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">About member registration / member information</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">Can I register as a member of a corporation or a group?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">How can I unsubscribe?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">About travel plan</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">How do I reserve a travel plan?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">Is it possible to change my travel plan?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">Is it possible to add more people to an already existing plan?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">About payment</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What is included in the travel plan price?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">About the guide</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">How do I contact the guide?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">How can I find a guide who speaks my native language?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">For reservation </h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What kind of payment methods do you have?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">How long does it take for your reservation to get approved?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">Where can I check the reservation number?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What should I do if I want to cancel?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What is the cancellation procedure?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What is the cancellation policy?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">Can I pay the fee directly on the day of travel plan?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
                <h3 class="question__title">Other FAQ</h3>
                <div class="question__box acc">
                    <div class="question__box-title acc__trigger">What is a review?</div>
                    <div class="question__box-pannel acc__body">マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?マッチングガイドとは?</div>
                </div>
            </div>
        </div>
    </section>
    <!--#include virtual="/inc/footer.html" -->
</div>