<section class="modal">
    <div class="add">
        <div class="modal__head">
            <a [routerLink]="['/']"><h1 class="modal__logo"><img src="assets/top/img/logo_ico.png" alt="サイトロゴ" /></h1></a>
        </div>
        <div class="modal__body">
            <h2 class="modal__title">{{'パスワード再設定してください。'|ttrans}}</h2>
            <div class="modal__inner">
                <form (keyup.enter)="updatePassword()" class="add__form">
                    <div class="add__form-item style-login">
                        <input type="password" class="password" id="password" placeholder="{{'パスワード（4～8文字以内の英数字）'|ttrans}}">
                        <a href="javascript:void(0);"><span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span></a>
                        <small class="msg_err" *ngIf="error.password">{{error.password[0]|ttrans}}</small>
                    </div>
                    <div class="add__form-button">
                        <input type="button" (click)="updatePassword()" value="{{'設定'|ttrans}}" class="btn--primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button type="button" id="cboxClose" (click)="btnClose()">close</button>
</section>
