<!--
<body class="loadingRequest overlay-loading">
    z
    <section class="visual">
        <div class="visual__inner">
            <h2 class="visual__title">あなただけの旅と<span>ガイドを見つけよう</span></h2>
            <div class="search">
                <form action="">
                    <div class="search__box">
                        <div class="search__item search__arrive">
                            <select name="search-area" id="search-area" class="easy-select">
                                <option value="" selected>旅先はどちらですか？</option>
                            </select>
                        </div>
                        <div class="search__item search__category">
                            <select name="search-plan" id="search-plan" class="easy-select">
                                <option value="0" selected>プラン内容</option>
                            </select>
                        </div>
                        <div class="search__item search__date">
                            <input id="input-date" type="text" placeholder="日付">
                        </div>
                        <div class="search__item search__lang">
                            <select name="search-lang" id="search-lang" class="easy-select">
                                <option value="0" selected>対応言語</option>
                            </select>
                        </div>
                        <button type="button" class="search__button" onclick="submit();">検 索</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    &lt;!&ndash; /.visual &ndash;&gt;
</body>-->
<div class="loading">
    <div class="loading__inner">
        <div class="loading__animation animation">
            <div class="animation__bar animation__bar--1"></div>
            <div class="animation__bar animation__bar--2"></div>
            <div class="animation__bar animation__bar--3"></div>
            <div class="animation__bar animation__bar--4"></div>
            <div class="animation__bar animation__bar--5"></div>
        </div>
    </div>
</div>
