p{
    margin: 0;
}
.well__title {
    font-size: 18px;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
.well-main {
    margin-bottom: 30px;
    font-size: 13px;
}
.well__list {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.well__list__item {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    font-size: 13px;
    align-items: center;
}
.well__list__date {
    width: 80px;
    margin-right: 15px;
}
.well__list__text {
    width: calc(100% - 90px);
}
.well__list__text--red {
    color: red;
}
.well__list__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.well__list__link {
    display: block;
    padding: 5px 8px;
    background: green;
    color:#fff;
    border-radius: 5px;
}
