<div id="sb-site">
    <div class="mypage">
        <div class="breadcrumb mypage__breadcrumb">
            <i></i>
            <ul class="breadcrumb__list">
                <li><a [routerLink]="['/']">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a [routerLink]='["/" + app.language + "/mypage"]'>{{'マイページTOP'|ttrans}}</a></li>
                <li><a [routerLink]='["/" + app.language + "/mypage/profile"]'>{{'プロフィール'|ttrans}}</a></li>
                <li><a>{{'メールアドレス変更'|ttrans}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="mypage__container mypage__flex">
            <top-mypage-menu></top-mypage-menu>
            <div class="mypage__content">
                <top-mypage-head></top-mypage-head>

                <div class="mypage__body">
                    <div class="mypage__body__section">

                        <h2 class="mypage__body__title--02">{{'メールアドレスの変更'|ttrans}}</h2>

                        <div class="mypage__body__block">

                            <table class="form-content__form-table form-content__form-table--borderless form-content__form-table--btmless">
                                <tbody>
                                <tr>
                                    <th>{{'F40_メールアドレス'|ttrans}}<sup>※</sup></th>
                                    <td>
                                        <div class="form-set form-set--ex" *ngIf="curMember">
                                            <input type="mail" value="{{curMember.email}}" name="profile-mail" id="profile-mail" class="form-set__input form-set__input--mail is-required" placeholder="XXX@XXX.com">
                                            <button type="button" class="btn--primary btn__mypage btn__mypage--form" (click)="saveData()" >{{'変更'|ttrans}}</button>
                                        </div>
                                        <small class="msg_err" *ngIf="error.email">{{error.email[0]|ttrans}}</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <p class="mypage__body__text">{{'メールアドレスの変更するには、上記に新しいメールアドレスを入力して送信して下さい。'|ttrans}}<br>
                                {{'入力したメールアドレスに、変更確認のメールが届きます。記載のURLをクリックして変更登録を完了してください。'|ttrans}}<br>
                                {{'間違ったメールアドレスに送ってしまった場合に、他人へアカウントが渡ってしまう場合があるので慎重に変更してください。'|ttrans}}</p>
                        </div>
                    </div>
                </div>
                <div class="mypage__foot">
                    <a [routerLink]="['/'+languageName+'/mypage/profile/']" class="link--back"><i class="fa fa-angle-left" aria-hidden="true"></i>{{'プロフィールへ戻る'|ttrans}}</a>
                </div>
            </div>
        </div>
    </div>
    <!--#include virtual="/inc/footer.html" -->
</div>