/*.content-404 {*/
    /*border-top: 1px solid #ccc;*/
    /*padding: 80px 0;*/
    /*text-align: center;*/
    /*color: #565656;*/
/*}*/
/*.contents__inner {*/
    /*width: 1100px;*/
    /*margin: 0 auto;*/
    /*margin-bottom: 40px;*/
/*}*/
/*.content-404__title {*/
    /*font-size: 4rem;*/
    /*line-height: 1.5;*/
    /*font-weight: 700;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.content-404__button, .content-404__lead {*/
    /*font-size: 2rem;*/
    /*line-height: 1.2;*/
/*}*/
/*.content-404__lead {*/
    /*margin-bottom: 60px;*/
/*}*/
/*.content-404__button {*/
    /*border: none;*/
    /*background: #00a699;*/
    /*width: 300px;*/
    /*height: 60px;*/
    /*border-radius: 5px;*/
    /*background-clip: padding-box;*/
    /*cursor: pointer;*/
    /*color: #fff;*/
/*}*/

.notfound {
    width: 100%;
    padding: 120px 0px 60px;
    background: #eee;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.notfound .head {
    color: #00c4b3;
    font-size: 10rem;
    letter-spacing: 2px;
}
.notfound .head span {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 20px 0 40px;
    display: block;
}
.notfound .txt {
    font-size: 1.2rem;
    line-height: 1.4;
}
.contentbox__btn {
    padding: 60px 0 0;
    text-align: center;
}
.contentbox__btn a {
    background: #00a699;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 57px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    position: relative;
    font-size: 2.0rem;
}
.contentbox__btn a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40px;
    margin: -6px 0 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 6px solid transparent;
}