<!--<div class="content-404 contents">-->
    <!--<div class="contents__inner">-->
        <!--<p class="content-404__title">404 Not Found<br />ページが見つかりませんでした</p>-->
        <!--<p class="content-404__lead">URLが間違っているか、ツアー情報が削除されている可能性があります。</p>-->
        <!--<button class="content-404__button" onclick="location.href='/'">TOPへ戻る</button>-->
    <!--</div>-->
<!--</div>-->

<section class="notfound">
    <div>
        <p class="head">
            404<br>
            <span>PAGE NOT FOUND</span>
        </p>
        <p class="txt">
            ご訪問ありがとうございます。<br>
            あなたがお探しのページは移動したか削除された可能性があります。大変申し訳ございません。
        <div class="contentbox__btn">
            <a href="javascript:void(0)" onclick="location.href='/'" class="contentbox__btn">トップに戻る</a>
        </div>
    </div>
</section>