<div id="sb-site">
    <section class="privacypolicy page-content outer">
        <div class="privacypolicy__visual page-content__visual">
            <h2 class="page-content__title">{{'安心・安全のために'|ttrans}}</h2>
        </div>
        <!--/.search__visual -->
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li><a href="/">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a href="/safety/">{{'安心・安全のために'|ttrans}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div *ngIf="app.language == ''" class="outer__inner">
            <div class="page-content__container">
                <section class="condition">
                    <p>マッチングガイドはオリジナルの旅をしたい人とそんな旅行者を案内したい人との個人間を結びつけるマッチングサービスをご提供しています。<br />オリジナルの旅をしたい人（通称　旅ユーザー）と案内したい人（旅ガイド）をつなげ、旅ユーザーが「したい」ことを、旅ガイドの助けを借りて実現することが出来ます。<br />知らない人同士でのサービス取引にはリスクがともないますが、マッチングガイドが間に入ることにより安心してお取引・サービスの提供・ご旅行して頂けるように取り組んでいます。</p>

                    <dl class="condition__list">
                        <dt><dfn>ご本人確認</dfn></dt>
                        <dd>
                            <p>旅ガイドは公式の身分証明書で個人情報を確認及び事務局で審査後に、旅ガイドとして本サイトをご利用いただけます。</p>
                        </dd>
                        <dt><dfn>プロフィール＆レビュー</dfn></dt>
                        <dd>
                            <p>旅ガイド、旅ユーザー共にプロフィールやレビューを登録できます。お互いのプロフィールやレビューを読むことで、人柄や信頼度をご確認頂けます。</p>
                        </dd>
                        <dt><dfn>料金の事前預り・事後支払い</dfn></dt>
                        <dd>
                            <p>サービス取引成立時点で旅ユーザーは事前決済をし、サービス代金は運営者側で一旦お預かりします。サービス提供完了後、お互いに実施承認が行われてから、旅ガイドに支払われます。<br />万が一、実施承認が7日間以内に行われなかった場合は自動承認となりますので、必ず実施承認をするようお願いしております。</p>
                        </dd>

                        <dt><dfn>メッセージ機能 </dfn></dt>
                        <dd>
                            <p>マッチングガイドには旅ガイド・旅ユーザー間で自由にやりとりができるメッセージ機能があります。メッセージのやりとりを通して、プラン実施の前にお互いをよく知ることで、当日の安心感がぐっと高まります。 </p>
                        </dd>
                    </dl>
                </section>
            </div>
        </div>
        <div *ngIf="app.language != ''" class="outer__inner">
            <div class="page-content__container">
                <section class="condition">
                    <p>Matching guide offers courses that are different from regular vacations. Travelers can meet guides who offer such courses on this site.<br />The ones who are looking for an original travel plan are called “Travel users” and the ones who create a travel plan are called “Travel guides”.<br />There is always a risk of handling transactions with unknown people, but here at Matching site, we make this entire process as safe and seamless as possible.</p>

                    <dl class="condition__list">
                        <dt><dfn>User verification:</dfn></dt>
                        <dd>
                            <p>A travel guide can only only use this site after his/her documents (official identification cards) have been verified by our office.</p>
                        </dd>
                        <dt><dfn>Profiles and Reviews:</dfn></dt>
                        <dd>
                            <p>Both travel users and travel guides will be able to review each other. Thus, by reading each other’s reviews, you can confirm their personality and reliability.</p>
                        </dd>
                        <dt><dfn>Advance payments/post payments:</dfn></dt>
                        <dd>
                            <p>Travel users will make an advance payment for the Travel plan they have selected. The amount will be received by our office. After the completion of the travel plan and both the parties confirm its execution post travel, the amount will be transferred to the travel guide.<br />In an unlikely event, if the travel plan completion has not been confirmed within 7 days, it will be automatically confirmed. So, please be careful.</p>
                        </dd>

                        <dt><dfn>Message function: </dfn></dt>
                        <dd>
                            <p>The matching site has an internal messaging function that allows you to freely interact with each other. Exchanging messages is a good way for the travel user and the travel guide to get to know one another before the day of the tour. </p>
                        </dd>
                    </dl>
                </section>
            </div>
        </div>
    </section>
    <!--#include virtual="/inc/footer.html" -->
</div>
