.msg_err {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b94a48;
    text-align: left;
}
.content-booking-reviews{
    word-break: break-all;
}

.modal-dialog {
    display: none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.modal-content {
    width: 50vw;
    background: #fff;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 20px;
}
@media (max-width: 767px) {
    .modal-content {
        width: 70vw;
    }
}
.modal-header {
    position: relative;
}
.modal-header button {
    position: absolute;
    top: -9px;
    right: -7px;
    border: none;
    background: no-repeat;
    font-size: 20px;
    cursor: pointer;
}
.modal-header button:hover {
    color:#f00;
}
#content-message-input {
    border: 1px solid #ccc;
    white-space: pre-wrap;
    line-height: 22px;
    padding: 10px;
    word-break: break-all;
    box-sizing: border-box;
    width: 100%;
}
.modal-footer {
    margin-top: 10px;
    text-align: center;
}
.modal-footer button {
    background: none;
    padding: 7px 12px;
    color: #333;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.modal-footer .submit {
    background: #00a300;
    color:#fff;
    border-color:#00a300;
    opacity: 0.8;
    border: 0;
}
.modal-footer .close {
    background: #C20F16;
    color:#fff;
    border-color:#C20F16;
}
.modal-body__content {
    padding:20px 10px;
    border:1px solid #333;
}
.modal-footer__text {
    margin-top: 15px;
}
.modal-title {
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
    font-size: 18px;
}
.modal-body__p {
    margin: 5px 0;
}

#booking-chat-content {
    overflow-x: hidden;
    font-size: 1.4rem;
    font-size: 14px;
    font-family: Arial;
}
.pre-text {
    white-space: pre-wrap;
    /*font-size: 14px;*/
    line-height: 20px;
}