<div id="sb-site">
    <div class="mypage">
        <div class="breadcrumb mypage__breadcrumb">
            <i></i>
            <ul class="breadcrumb__list">
                <li><a [routerLink]="['/']">{{'マッチングガイドTOP'|ttrans}}</a></li>
                <li><a [routerLink]='["/" + app.language + "/mypage"]'>{{'マイページTOP'|ttrans}}</a></li>
                <li><a [routerLink]='["/" + app.language + "/mypage/profile/resume"]'>{{'本人確認書類'|ttrans}}</a></li>
                <li><a>{{'書類申請完了'|ttrans}}</a></li>
            </ul>
        </div>
        <!--/.breadcrumb -->
        <div class="mypage__container mypage__flex">

            <top-mypage-menu></top-mypage-menu>
            <div class="mypage__content">
                <top-mypage-head></top-mypage-head>

                <div class="mypage__body">



                    <div class="mypage__body__section">

                        <h2 class="mypage__body__title--02">{{'本人確認証明書申請完了'|ttrans}}</h2>

                        <div class="mypage__body__block">

                            <div class="mypage__body__block__caution">

                                <h3 class="mypage__body__block__caution__title">{{'本人確認証明書を'|ttrans}}<br>{{'運営事務局へ申請いたしました。'|ttrans}}</h3>

                                <p class="mypage__body__block__caution__text">{{'承認作業には、２・３営業日頂いておりますので少々お待ちください。'|ttrans}}<br>{{'また、提出証明書の不備などございましたら運営事務局よりご連絡がいく場合がございます。'|ttrans}}</p>

                            </div>

                        </div>

                    </div>



                </div>

                <div class="mypage__foot">
                    <a [routerLink]="['/'+languageName+'/mypage/profile/resume']" class="link--back"><i class="fa fa-angle-left" aria-hidden="true"></i>{{'プロフィールへ戻る'|ttrans}}</a>
                </div>

            </div>
        </div>
    </div>

    <!--#include virtual="/inc/footer.html" -->
</div>